@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/**   font-family: 'Roboto Slab', serif;  **/
/**   font-family: 'Inter', sans-serif;   **/

.bdy-box{
    background: linear-gradient(180deg,#fffdfd,#f6f7f8);
    border: 1px solid #a0cbe4;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
	font-family: 'Inter', sans-serif;
	margin:0 auto;
	width:100%;
}
h1, h2, h3, h4, h5, h6, span, p, ul, li, a, label {
	margin:0;
	padding:0;
	list-style:none;
	letter-spacing: 0.02em;
}
.form-control:focus, .custom-file-label {
	/* border: none!important; */
}
p { word-break: break-word; }
a:hover {
	cursor:pointer;
}
button:focus {box-shadow:none;outline:none;}
a:hover, .btn-link:hover, .btn-link:focus {
	text-decoration:none;
}
.center {
	text-align:center;
}
.btn.focus, .btn:focus, .form-control:focus, .slick-slide:focus {
	outline:none;
	box-shadow:none;
}
p {
	color: #37474F;
	font-size:18px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: 1320px;
} 
.container-fluid {
	max-width: 1440px;
}

/* width */
::-webkit-scrollbar {
 width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}

.dashboard-screen .counter-box {
    background: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}   

.dashboard-screen .counter-box h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    padding-right: 10px;
}

.dashboard-screen .counter-box h6 {
    font-size: 16px;
    font-weight: 600;
    color: #606060;
    margin-bottom: 20px;
}

.dashboard-screen .counter-box .icon img {
    width: 100%;
    min-width: 60px;
    max-width: 60px;
}

.double-header-title h4 {
    font-size: 22px;
	margin-top:20px;
}
.double-header-title {
    margin-bottom: 16px;
}

.double-header-title h6 {
    font-size: 16px;
    font-weight: 600;
	margin-top: 10px;
}
.double-header-title h6 span {
    color:#A82727;
}


.table-information .info-table tr th {
    white-space: nowrap;
    color: #7A7A7A;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 10px;
    vertical-align: top;
}

.table-information .info-table tr td {
    font-size: 16px;
    font-weight: 500;
    word-break: break-word;
    padding: 10px 10px;
	color:#1A2529;
}
.table-information .info-table tr td  p {
    font-size: 16px;color:#1A2529;
}
.table-information {
    margin-bottom: 20px;
    margin-top: 20px;
} 

.table-information a {
    color: #3C41A1;
}
.company-addtress-info .container {
    border-bottom: 1px dashed #D1D1D1;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.view-resume-btn {
    background: #35376B;
    color: #fff;
    width: 100%;
    min-height: 40px;
    font-size: 14px;
    line-height: 25px;
		padding-left:5px;
	padding-right:5px;
}
.view-resume-btn img {
   margin-right:10px;
}
.view-pan-adhaar-btn .btn-cover a {
    width: 100%;

}
.view-pan-adhaar-btn .pan-btn {
    font-size: 12px;
    color: #fff;
    background: #CA4E4E;
    text-align: center;
    min-height: 40px;
    line-height: 25px;
		padding-left:5px;
	padding-right:5px;
}

.border-left-right {
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
}

.user-profile-info {
    margin-bottom: 40px;
} 

.nav-tabs-design .play-btn {
    width: 70px;
    height: 70px;
    background: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 1px;
    position: absolute;
    left: 0;
    top: 0;
}
 
.nav-tabs-design .nav-tabs {
    background: #1A2529;
    border-radius: 5px;
    align-items: flex-end;
    text-align: center;
    padding-right: 10px;
    padding-left: 80px;   
    position: relative;
}
.nav-tabs-design .nav-tabs .nav-item {
    margin-bottom: -1px;
    margin-top: 8px;
}
.nav-tabs-design .nav-link {
    min-height: 58px;
    line-height: 40px;
    color: #D1D1D1;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 10px 12px;
}
.nav-tabs-design .nav-link.active {
	color:#1A2529;
	font-weight:600;
}

.simple-table td {
	padding:20px 10px;
	white-space:nowrap;
}
.simple-table th {
	padding:10px 10px;
	white-space:nowrap;
}
.simple-table thead {
	background:#D1D1D1;
}
 .simple-table-scroller {
    margin-bottom: 50px;
    overflow: auto;
}
.simple-table-scroller .simple-table {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    border-radius: 5px;
}

.simple-table-scroller {
    margin-bottom:50px;
}


@media only screen and (max-width:1199px) {
	
.user-profile-info .info-table tr th {
    width: 40%;
    white-space: pre-wrap;
}
}


@media only screen and (max-width:991px) {
.nav-tabs-design .nav-link.active {
    border-radius: 5px;
}
.nav-tabs-design .nav-link {
    font-size: 16px;
}
}
@media only screen and (max-width:904px) {
.nav-tabs-design .nav-tabs .nav-item {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: initial !important;
    margin-bottom: 5px;
}
.nav-tabs-design .nav-link {
    min-height: 38px;
    line-height: 20px;
}	
}



@media only screen and (max-width:767px) {
	
.user-profile-info .info-table tr th {
 
	width:30%;
}

}

@media only screen and (max-width:575px) {
	
.user-profile-info .info-table tr th {
    white-space: pre-wrap;
	width:40%;
}

}