<div class="A4-body" style="border: 2px solid;">

    <div>
        <img width="100px" height="50px" src="./assets/img/UIimages/SpoorthyImages/Spoorthy.png"
            class="img-fluid mob-logo" />
        <div class="center">
            <span style="font-weight: 600;">Goods and Services Tax Invoice</span>
            <div>
                <blockquote><b>SPOORTHY <br> INTEGRATED SOLUTIONS (I) PVT. LTD.,</b></blockquote>
            </div>
            <p style="font-size: 12px; font-weight: 600;">#880, 1st Floor, 60 Feet Main Road, 'D' Group Layout,
                Srigandhadakaval,
                Bangalore - 560 091</p>
        </div>
    </div>

    <div class="row align-section">

        <div class="address-box">
            <div>
                <span>To,</span>
                <span>The Director,</span>
                <span>Kidwai Memorial Institute of Oncology</span>
                <span>Dr. M H Marigowda Road,</span>
                <span>Bangalore-560029</span>
                <span>GST # 29AAATK3049D1ZS</span>
            </div>
        </div>

        <div>
            <table class="right-pane">
                <tr class="blank_row">
                    <th> </th>
                    <th> </th>
                </tr>
                <tr>
                    <td>Invoice No</td>
                    <td>SISPL2022230947</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>10-Oct-22</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>01-Sep-22</td>
                </tr>
                <tr>
                    <td>Upto</td>
                    <td>30-Sep-22</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="row">
        <table class="none-effect">
            <thead>
                <tr>
                    <th>Sl.no</th>
                    <th>Particulars</th>
                    <th>QTY</th>
                    <th>No. of man days</th>
                    <th>Wages per month</th>
                    <th>Amount in Rs.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Data Entry Operator</td>
                    <td>60</td>
                    <td>1690.00</td>
                    <td>27553.00</td>
                    <td>1552152</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>LAB TECHNICIAN </td>
                    <td>22</td>
                    <td>621</td>
                    <td>35176.00</td>
                    <td>728143</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>RT TECHNICIAN/RT DIAGONISTS</td>
                    <td>27</td>
                    <td>752</td>
                    <td>35176.00</td>
                    <td>881745</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>OT TECHNICIAN</td>
                    <td>8</td>
                    <td>175.00</td>
                    <td>42251.00</td>
                    <td>246464</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>DIETICIAN</td>
                    <td>60</td>
                    <td>1690.00</td>
                    <td>27553.00</td>
                    <td>1552152</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>ECO TECHNICIAN</td>
                    <td>2</td>
                    <td>58</td>
                    <td>35176.00</td>
                    <td>68007</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>ANASTHESIA TECHNICIAN</td>
                    <td>10</td>
                    <td>278.00</td>
                    <td>42251.00</td>
                    <td>391526</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>STAFF NURSE</td>
                    <td>25</td>
                    <td>680</td>
                    <td>42251.00</td>
                    <td>929522</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>PHARMASIST</td>
                    <td>2</td>
                    <td>60</td>
                    <td>35176.00</td>
                    <td>70352</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>ASSIST WELFARE OFFICER</td>
                    <td>6</td>
                    <td>162</td>
                    <td>51338.00</td>
                    <td>2772525</td>
                </tr>
                <tr>
                    <td colspan="2">TOTAL</td>
                    <td>60</td>
                    <td>1690.00</td>
                    <td>27553.00</td>
                    <td>1552152</td>
                </tr>
                <tr>
                    <td colspan="2">GSTIN : 29AAXCS0829B1Z2</td>
                    <td colspan="3">CGST @9%</td>
                    <td>467353.43</td>
                </tr>
                <tr>
                    <td colspan="2">PAN NO: AAXCS0829B</td>
                    <td colspan="3">SGST @9%</td>
                    <td>467353.43</td>
                </tr>
                <tr>
                    <td colspan="2">HSN/SAC :998523</td>
                    <td colspan="3">Total Gross</td>
                    <td>6127522.68</td>
                </tr>
                <tr>
                    <td colspan="5">Sixty One Lakh Twenty Seven Thousand Five Hundred And Twenty Three Rupees Only</td>
                    <td>6127523.00</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" style="margin-left: 15px;">
        All Payments should be made only by cheques drawn in favour of the Company. <br>
        Interest Will be charged @ 24% on unpaid Bills
    </div>

    <div class="row">
        <div style="margin-left: 15px;"> Bank Details:- </div>
    </div>

    <div class="row align-section" style="margin-top: 5px;">
        <div class="address-box">
            <div>
                <span>To,</span>
                <span>The Director,</span>
                <span>Kidwai Memorial Institute of Oncology</span>
                <span>Dr. M H Marigowda Road,</span>
                <span>Bangalore-560029</span>
                <span>GST # 29AAATK3049D1ZS</span>
            </div>
        </div>
    </div>

    <!-- <div class="row pay-det">
        <div class="col-lg-3">
            <span>E.&.O.E</span>
            <span>Payment Due On : 20/10/2022</span>
        </div>

        <div class="col-lg-9">
            <div>
                <span style="float: right">For SPOORTHY INTEGRATED SOLUTIONS (I) PVT. LTD...,</span>
                <span style="float: right">Authorised Signatory</span>
            </div>
        </div>
    </div> -->

    <div class="row align-section-bottom">

        <div class="payment-info">
            <div>
                <span>E.&.O.E</span>
                <span>Payment Due On : 20/10/2022</span>
            </div>
        </div>

        <div class="sign-info">
            <div>
                <span style="padding-bottom: 50px; justify-content: center;">For SPOORTHY INTEGRATED SOLUTIONS (I) PVT.
                    LTD...,</span>
                <span style="padding-top: 50px; justify-content: center;">Authorised Signatory</span>
            </div>
        </div>


    </div>

</div>