<div class="dashboard-screen" id="showSearch">
    <div class="row bdy-box">
        <div class="col-lg-4">
            <h2 class="font-weight-bolder">Candidates Details</h2>
        </div>

        <!-- <div class="col-lg-8">
            <div class="manage-buttons1">
                <button class="edit-button edit-gen" (click)="openAddYearsModal(AddYearsModal)">
                    <i class="fas fa-plus-circle"></i>
                    Add New Candidates
                </button>
                <button (click)="export('Excel')" class="manage-button excel-button" type="submit"></button>
                <button (click)="export('PDF')" class="manage-button pdf-button" type="submit"></button>
            </div>
        </div> -->
    </div>

    <div class="project-list table-responsive" style="height: calc(100% - 64px);">
        <div class="main-content">
            <div class="row">
                <div class="col-md-12" style="padding: 0; padding-top: 5px;">

                    <ol class="breadcrumb" id="breadcrumbId"
                        style="margin: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 0; padding: 0.5rem 1rem">
                        <li class="breadcrumb-item">
                            <a style="text-transform: capitalize;color: #5599c7;">
                                Master
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a style="text-transform: capitalize;">
                                Candidate-Upload
                            </a>
                        </li>
                    </ol>

                    <div class="card card-plain" style="padding: 0;">
                        <div class="card-body" id="vaccineReceivedCtn">
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-lg-12 dash-filter" style="display: flex; justify-content: flex-end;">
                                    <!-- <div class="form-group btn-group" id="divMultiSelect" style="margin-left: 25px;"> 
                                        <label class="btn btn-secondary">Districts</label>  
                                        <ng-multiselect-dropdown class="btn form-control btn-light" style="padding: 0;min-width: 0 !important;" [placeholder]="'Select Districts'" [data]="allDistricts" [settings]="allDistrictsSettings" [(ngModel)]="allDistrictSelectedItems" 
                                        (onSelect)="onItemSelectOrDeSelect($event, 'district')" (onDeSelect)="onItemSelectOrDeSelect($event, 'district')" (onSelectAll)="onItemSelectOrDeSelect($event, 'district')" (onDeSelectAll)="onItemSelectOrDeSelect($event, 'district')">
                                        </ng-multiselect-dropdown>
                                    </div>-->
                                    <a href="./assets/excels/EmployeeForm_Sample_Format.xlsx"
                                        download="EmployeeForm_Sample_Format.xlsx"
                                        class="form-group btn-group file-upld" id="divMultiSelect"
                                        style="margin-left: 11px; padding-top: 3px;">
                                        <span class="btn btn-default dwn-span">
                                            Download sample excel format.
                                        </span>
                                        <button class="btn btn-outline-primary"
                                            style="border-radius: 32px; height: 32px; width: 32px; padding: 0;">
                                            <i class="fas fa-download"></i>
                                        </button>
                                    </a>

                                    <div class="form-group btn-group file-upld" id="divMultiSelect"
                                        style="margin-left: 5px; margin-bottom: 0px;">
                                        <label class="btn btn-outline-info">Upload Excel</label>
                                        <label class="btn btn-info"
                                            style="border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;"><i
                                                class="fas fa-upload"></i></label>
                                        <input type="file" class="custom-file-input" (change)="addfile($event)"
                                            placeholder="Upload file"
                                            accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 5px 3px;">
                            <table class="live-tracking-list-table" id="candidateTable" datatable
                                [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

                                <thead>
                                    <tr>
                                        <th colspan="1" style="border-right: 0.5px solid black;"></th>
                                        <th colspan="21" style="border-right: 0.5px solid black;">employeeForm</th>
                                        <th colspan="4" style="border-right: 0.5px solid black;">languagesForm</th>
                                        <th colspan="5" style="border-right: 0.5px solid black;">familyForm</th>
                                        <th colspan="5" style="border-right: 0.5px solid black;">
                                            educationalQualificationForm
                                        </th>
                                        <th colspan="11" style="border-right: 0.5px solid black;">
                                            workExperienceForm
                                        </th>
                                        <th colspan="6" style="border-right: 0.5px solid black;">UANPFForm</th>
                                        <th colspan="5" style="border-right: 0.5px solid black;">referencesForm</th>
                                        <!-- <th colspan="1" style="border-right: 0.5px solid black;"></th> -->
                                    </tr>
                                    <tr style="width: 100%;">
                                        <th scope="col" style="border-right: 0.5px solid black;">Sl.No</th>

                                        <th scope="col">Full Name</th>
                                        <th scope="col">Date Of Birth</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Place Of Birth</th>
                                        <th scope="col">MotherTongue</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Marital Status</th>
                                        <th scope="col">Religion</th>
                                        <th scope="col">Blood Group</th>
                                        <th scope="col">Aadhar No</th>
                                        <th scope="col">PAN</th>
                                        <th scope="col">Present Address</th>
                                        <th scope="col">Present Address Pincode</th>
                                        <th scope="col">Present Address Phone</th>
                                        <th scope="col">Permanent Address</th>
                                        <th scope="col">Permanent Address Pincode</th>
                                        <th scope="col">Permanent Address Phone</th>
                                        <th scope="col">Identification1</th>
                                        <th scope="col">Identification2</th>
                                        <th scope="col">Mark1</th>
                                        <th scope="col" style="border-right: 0.5px solid black;">Mark2</th>

                                        <th scope="col">Language</th>
                                        <th scope="col">Speak</th>
                                        <th scope="col">Write</th>
                                        <th scope="col" style="border-right: 0.5px solid black;">Read</th>

                                        <th scope="col">Relationship</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Date Of Birth</th>
                                        <th scope="col">Contact No</th>
                                        <th scope="col" style="border-right: 0.5px solid black;">AadharNo</th>

                                        <th scope="col">Course</th>
                                        <th scope="col">SchoolCollegeName</th>
                                        <th scope="col">Education From</th>
                                        <th scope="col">Education To</th>
                                        <th scope="col" style="border-right: 0.5px solid black;">Marks</th>

                                        <th scope="col">Exp Type</th>

                                        <th scope="col">Designation</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">From</th>
                                        <th scope="col">To</th>
                                        <th scope="col">Experience Year</th>
                                        <th scope="col">Salary Drawn</th>
                                        <th scope="col">Reason For Leaving</th>
                                        <th scope="col">Supervisor Name</th>
                                        <th scope="col">Supervisor Mobile</th>
                                        <th scope="col" style="border-right: 0.5px solid black;">Supervisor Email</th>

                                        <th scope="col">Universal Account</th>
                                        <th scope="col">PF Account</th>
                                        <th scope="col">Scheme Certificate</th>
                                        <th scope="col">PPO Number</th>
                                        <th scope="col">Non Contributory Period</th>
                                        <th scope="col" style="border-right: 0.5px solid black;">ESI</th>

                                        <th scope="col">Name</th>
                                        <th scope="col">Occupation</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Contact No</th>
                                        <th scope="col" style="border-right: 0.5px solid black;">Aadhar No</th>

                                        <!-- <th scope="col" style="border-right: 0.5px solid black;">Action</th> -->
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of candidatesList; let i=index"
                                        style="width: 100%; border-right: 0.5px solid black;">
                                        <td style="border-right: 0.5px solid black;">{{ i+1 }}</td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="emp_FullName" [(ngModel)]="item.EmpFullName"
                                                    placeholder="Enter Full Name" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 125px; margin: auto;">
                                                <input matInput id="emp_DateOfBirth" [(ngModel)]="item.EmpDateOfBirth"
                                                    placeholder="Enter Date Of Birth" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 50px; margin: auto;">
                                                <input matInput id="emp_Age" [(ngModel)]="item.EmpAge"
                                                    placeholder="Enter Age" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="emp_PlaceOfBirth" [(ngModel)]="item.EmpPlaceOfBirth"
                                                    placeholder="Enter Place Of Birth" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="emp_MotherTongue" [(ngModel)]="item.EmpMotherTongue"
                                                    placeholder="Enter Mother Tongue" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 100px; margin: auto;">
                                                <input matInput id="emp_Gender" [(ngModel)]="item.EmpGender"
                                                    placeholder="Enter Gender" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="emp_MaritalStatus"
                                                    [(ngModel)]="item.EmpMaritalStatus"
                                                    placeholder="Enter Marital Status" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <!-- <input matInput id="emp_Religion" [(ngModel)]="item.EmpReligion"
                                                    placeholder="Enter Religion" class="form-control"> -->

                                                <select id="emp_Religion" class="form-control"
                                                    placeholder="Select Religion" [(ngModel)]="item.EmpReligion">
                                                    <option *ngFor="let data of filteredReligion" [value]="data.name">
                                                        {{data.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 80px; margin: auto;">
                                                <input matInput id="emp_BloodGroup" [(ngModel)]="item.EmpBloodGroup"
                                                    placeholder="Enter Blood Group" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 140px; margin: auto;">
                                                <input matInput id="emp_AadharNo" [(ngModel)]="item.EmpAadharNo"
                                                    placeholder="Enter Aadhar" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="emp_PAN" [(ngModel)]="item.EmpPAN"
                                                    placeholder="Enter PAN" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="emp_PresentAddress"
                                                    [(ngModel)]="item.EmpPresentAddress"
                                                    placeholder="Enter Present Address" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 80px; margin: auto;">
                                                <input matInput id="emp_PresentAddressPincode"
                                                    [(ngModel)]="item.EmpPresentAddressPincode"
                                                    placeholder="Enter Present Address Pincode" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="emp_PresentAddressPhone"
                                                    [(ngModel)]="item.EmpPresentAddressPhone"
                                                    placeholder="Enter Present Address Phone" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="emp_PermanentAddress"
                                                    [(ngModel)]="item.EmpPermanentAddress"
                                                    placeholder="Enter Permanent Address" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 80px; margin: auto;">
                                                <input matInput id="emp_PermanentAddressPincode"
                                                    [(ngModel)]="item.EmpPermanentAddressPincode"
                                                    placeholder="Enter Permanent Address Pincode" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="emp_PermanentAddressPhone"
                                                    [(ngModel)]="item.EmpPermanentAddressPhone"
                                                    placeholder="Enter Permanent Address Phone" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="emp_Identification1"
                                                    [(ngModel)]="item.EmpIdentification1"
                                                    placeholder="Enter Identification1" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="emp_Identification2"
                                                    [(ngModel)]="item.EmpIdentification2"
                                                    placeholder="Enter Identification2" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 100px; margin: auto;">
                                                <input matInput id="emp_Mark1" [(ngModel)]="item.EmpMark1"
                                                    placeholder="Enter Mark1" class="form-control">
                                            </div>
                                        </td>
                                        <td style="border-right: 0.5px solid black;">
                                            <div class="form-group" style="width: 100px; margin: auto;">
                                                <input matInput id="emp_Mark2" [(ngModel)]="item.EmpMark2"
                                                    placeholder="Enter Mark2" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="lng_Language" [(ngModel)]="item.LngLanguage"
                                                    placeholder="Enter Language" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 70px; margin: auto;">
                                                <input matInput id="lng_Speak" [(ngModel)]="item.LngSpeak"
                                                    placeholder="Enter Speak" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 70px; margin: auto;">
                                                <input matInput id="lng_Write" [(ngModel)]="item.LngWrite"
                                                    placeholder="Enter Write" class="form-control">
                                            </div>
                                        </td>
                                        <td style="border-right: 0.5px solid black;">
                                            <div class="form-group" style="width: 70px; margin: auto;">
                                                <input matInput id="lng_Read" [(ngModel)]="item.LngRead"
                                                    placeholder="Enter Read" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <!-- <input matInput id="fam_Relationship" [(ngModel)]="item.FamRelationship"
                                                    placeholder="Enter Family Relationship" class="form-control"> -->

                                                <select id="fam_Relationship" class="form-control"
                                                    placeholder="Select Family Relationship"
                                                    [(ngModel)]="item.FamRelationship">
                                                    <option *ngFor="let data of filteredRelationship"
                                                        [value]="data.name">
                                                        {{data.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="fam_Name" [(ngModel)]="item.FamName"
                                                    placeholder="Enter Member Name" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 125px; margin: auto;">
                                                <input matInput id="fam_DateOfBirth" [(ngModel)]="item.FamDateOfBirth"
                                                    placeholder="Enter Member Date Of Birth" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="fam_ContactNo" [(ngModel)]="item.FamContactNo"
                                                    placeholder="Enter Contact No" class="form-control">
                                            </div>
                                        </td>
                                        <td style="border-right: 0.5px solid black;">
                                            <div class="form-group" style="width: 140px; margin: auto;">
                                                <input matInput id="fam_AadharNo" [(ngModel)]="item.FamAadharNo"
                                                    placeholder="Enter member AadharNo" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <!-- <input matInput id="edu_Course" [(ngModel)]="item.EduCourse"
                                                    placeholder="Enter Course" class="form-control"> -->

                                                <select id="edu_Course" class="form-control" placeholder="Select Course"
                                                    [(ngModel)]="item.EduCourse">
                                                    <option *ngFor="let data of filteredCourse" [value]="data.name">
                                                        {{data.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="edu_SchoolCollegeName"
                                                    [(ngModel)]="item.EduSchoolCollegeName"
                                                    placeholder="Enter School/College Name" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 70px; margin: auto;">
                                                <input matInput id="edu_From" [(ngModel)]="item.EduFrom"
                                                    placeholder="Enter education From" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 70px; margin: auto;">
                                                <input matInput id="edu_To" [(ngModel)]="item.EduTo"
                                                    placeholder="Enter Education To" class="form-control">
                                            </div>
                                        </td>
                                        <td style="border-right: 0.5px solid black;">
                                            <div class="form-group" style="width: 100px; margin: auto;">
                                                <input matInput id="edu_Marks" [(ngModel)]="item.EduMarks"
                                                    placeholder="Enter Educational Marks" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="exp_Type" [(ngModel)]="item.ExpType"
                                                    placeholder="Enter Experience Type" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="exp_Designation" [(ngModel)]="item.ExpDesignation"
                                                    placeholder="Enter Worked Designation" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="exp_CompanyName" [(ngModel)]="item.ExpCompanyName"
                                                    placeholder="Enter Worked CompanyName" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 125px; margin: auto;">
                                                <input matInput id="exp_From" [(ngModel)]="item.ExpFrom"
                                                    placeholder="Enter Worked From" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 125px; margin: auto;">
                                                <input matInput id="exp_To" [(ngModel)]="item.ExpTo"
                                                    placeholder="Enter Worked To" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 100px; margin: auto;">
                                                <input matInput id="exp_ExperienceYear"
                                                    [(ngModel)]="item.ExpExperienceYear"
                                                    placeholder="Enter Experienced Year" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 150px; margin: auto;">
                                                <input matInput id="exp_SalaryDrawn" [(ngModel)]="item.ExpSalaryDrawn"
                                                    placeholder="Enter Salary Drawn" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 200px; margin: auto;">
                                                <input matInput id="exp_ReasonForLeaving"
                                                    [(ngModel)]="item.ExpReasonForLeaving"
                                                    placeholder="Enter Reason For Leaving" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="exp_SupervisorName"
                                                    [(ngModel)]="item.ExpSupervisorName"
                                                    placeholder="Enter Supervisor Name" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="exp_SupervisorMobile"
                                                    [(ngModel)]="item.ExpSupervisorMobile"
                                                    placeholder="Enter Supervisor Mobile" class="form-control">
                                            </div>
                                        </td>
                                        <td style="border-right: 0.5px solid black;">
                                            <div class="form-group" style="width: 250px; margin: auto;">
                                                <input matInput id="exp_SupervisorEmail"
                                                    [(ngModel)]="item.ExpSupervisorEmail"
                                                    placeholder="Enter Supervisor Email" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="uan_UniversalAccount"
                                                    [(ngModel)]="item.UANUniversalAccount"
                                                    placeholder="Enter Universal Account No" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 240px; margin: auto;">
                                                <input matInput id="uan_PFAccount" [(ngModel)]="item.UANPFAccount"
                                                    placeholder="Enter PF Account No" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 230px; margin: auto;">
                                                <input matInput id="uan_SchemeCertificate"
                                                    [(ngModel)]="item.UANSchemeCertificate"
                                                    placeholder="Enter Scheme Certificate No" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="uan_PPONumber" [(ngModel)]="item.UANPPONumber"
                                                    placeholder="Enter PPO Number" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 60px; margin: auto;">
                                                <input matInput id="uan_NonContributoryPeriod"
                                                    [(ngModel)]="item.UANNonContributoryPeriod"
                                                    placeholder="Enter Non Contributory Period" class="form-control">
                                            </div>
                                        </td>
                                        <td style="border-right: 0.5px solid black;">
                                            <div class="form-group" style="width: 230px; margin: auto;">
                                                <input matInput id="uan_ESI" [(ngModel)]="item.UANESI"
                                                    placeholder="Enter ESI" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="ref_Name" [(ngModel)]="item.RefName"
                                                    placeholder="Enter Referrer Name" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="ref_Occupation" [(ngModel)]="item.RefOccupation"
                                                    placeholder="Enter Referrer Occupation" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 180px; margin: auto;">
                                                <input matInput id="ref_Address" [(ngModel)]="item.RefAddress"
                                                    placeholder="Enter Referrer Address" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="width: 120px; margin: auto;">
                                                <input matInput id="ref_ContactNo" [(ngModel)]="item.RefContactNo"
                                                    placeholder="Enter Referrer Contact No" class="form-control">
                                            </div>
                                        </td>
                                        <td style="border-right: 0.5px solid black;">
                                            <div class="form-group" style="width: 140px; margin: auto;">
                                                <input matInput id="ref_AadharNo" [(ngModel)]="item.RefAadharNo"
                                                    placeholder="Enter Referrer Aadhar" class="form-control">
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>

                            </table>

                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-primary"
                                        (click)="onAlertBulkCandidates(BulkCandidatesModal)"
                                        style="margin: 7px; float: right;">Submit</button>
                                    <hr style="margin: 5px auto;">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #BulkCandidatesModal>
    <div class="alrt-container alrt-center alrt-backdrop-show" style="overflow: hidden;">
        <div aria-labelledby="alrt-title" aria-describedby="alrt-content"
            class="alrt-popup alrt-modal alrt-icon-warning alrt-show" ole="dialog" aria-live="assertive"
            aria-modal="true" style="display: flex;">
            <div class="alrt-header">
                <div class="alrt-icon alrt-warning alrt-icon-show" style="display: flex;">
                    <div class="alrt-icon-content">!</div>
                </div>
                <h2 class="alrt-title" id="alrt-title" style="display: flex;">Would you like to submit the Candidates
                    details?</h2>
            </div>
            <div class="alrt-content">
                <div id="alrt-content" class="alrt-html-container" style="display: block;">
                    Please verify before submitting. <br>This might take some time to complete. Please do not
                    refresh/reload the browser page.
                </div>
                <input class="alrt-input" style="display: none;">
                <div class="alrt-validation-message" id="alrt-validation-message"></div>
            </div>
            <div class="alrt-actions">
                <button type="button" class="alrt-confirm alrt-styled" aria-label=""
                    (click)="onSubmitBulkCandidateDetails()"
                    style="display: inline-block; background-color: rgb(26, 63, 184); border-left-color: rgb(55, 26, 184); border-right-color: rgb(184, 26, 26);">
                    Yes, Submit!
                </button>
                <button type="button" class="alrt-cancel alrt-styled" (click)="modalRef.hide()" aria-label=""
                    style="display: inline-block;">
                    Cancel
                </button>
            </div>
            <div class="alrt-footer" style="display: none;"></div>
            <div class="alrt-timer-progress-bar-container">
                <div class="alrt-timer-progress-bar" style="display: none;">
                </div>
            </div>
        </div>
    </div>
</ng-template>