<div class="dashboard-screen m-4">
    <div class="double-header-title d-flex justify-content-between align-items-center flex-wrap">
        <h4 class="font-weight-bolder">Generate Bill</h4>
        <h6>BILL MONTH <span>: {{(BillMonth?.Month | uppercase) || (billData?.Month | uppercase)}}</span></h6>
    </div>

    <div class="border shadow-sm p-3 bg-white rounded">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="table-information m-0">
                    <table class="w-100 info-table">
                        <tr>
                            <th>Bill To : </th>
                            <td>{{workOrderData?.client?.name}}</td>
                        </tr>
                        <tr>
                            <th>Client ID : </th>
                            <td>{{workOrderData?.client?.ClientId}}</td>
                        </tr>
                        <tr>
                            <th>Address : </th>
                            <td>{{workOrderData?.client?.address}}<br>{{workOrderData?.client?.officePhoneNo}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="table-information m-0">
                    <table class="w-100 info-table">
                        <tr>
                            <th>Work Order ID : </th>
                            <td>{{workOrderData?.WorkOrderId}}</td>
                        </tr>
                        <tr>
                            <th>Work Order : </th>
                            <td>{{workOrderData?.name}}</td>
                        </tr>
                        <tr>
                            <th>Employees : </th>
                            <td>{{employeeData?.length}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nav-tabs-design mt-4 m-4">
    <ul *ngIf="proceedToBillFlag == false" style="padding-left: 10px;" class="nav nav-tabs justify-content-center"
        id="myTab" role="tablist">
        <li class="nav-item flex-grow-1" role="presentation"> <a class="nav-link active"
                id="update-attendence-month-tab" data-toggle="tab" href="#update-attendence-month" role="tab"
                aria-controls="update-attendence-month" aria-selected="true">Update Attendence (Month)</a> </li>
        <!-- <li class="nav-item flex-grow-1" role="presentation"> <a class="nav-link" id="update-attendence-day-tab"
                data-toggle="tab" href="#update-attendence-day" role="tab" aria-controls="update-attendence-day"
                aria-selected="false">Update Attendence of Each Day</a> </li> -->
        <li class="nav-item flex-grow-1" role="presentation">
            <div style="margin-bottom: 15px;" class="d-flex justify-content-center align-items-center">
                <label class="required text-light" for="From">NO. OF WORKING DAYS</label>
                <select class="form-control" style="margin-left: 10px; width: 70px" [(ngModel)]="SelectDays">
                    <option [value]="26">26</option>
                    <option [value]="27">27</option>
                    <option [value]="28">28</option>
                    <option [value]="29">29</option>
                    <option [value]="30">30</option>
                    <option [value]="31" selected>31</option>
                </select>
            </div>
        </li>
        <li class="nav-item flex-grow-1" role="presentation">
            <div style="margin-bottom: 15px;" class="">
                <div class="d-flex justify-content-center align-items-center rounded"
                    style="border: 1px solid #DDD; background: white;">
                    <i style="color: rgb(255, 102, 102);" class="fas fa-search pl-3"></i>
                    <input (keyup)="SearchFilter(input.value)" type="text" class="form-control"
                        placeholder="Search by Employee Name/ID" style="border: none;" #input />
                </div>
            </div>
        </li>
    </ul>
    <ul *ngIf="proceedToBillFlag == true" style="height: 71px; padding-left: 0;"
        class="nav nav-tabs justify-content-between align-items-center">
        <li class="text-light pl-4 h5 m-0">
            Invoice No # {{billData[0]?.BillId || 0}}
        </li>
        <li class="text-light pr-4 h5 m-0">
            TOTAL BILL AMOUNT : ₹ {{TotalAmount || 0}}
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="update-attendence-month" role="tabpanel"
            aria-labelledby="update-attendence-month-tab">
            <div class="simple-table-scroller">
                <form [formGroup]="tableForm">
                    <div class="table-responsive mt-3">
                        <table class="text-center" mat-table [dataSource]="attendenceMonthSource" matSort>

                            <ng-container matColumnDef="OTEmp">
                                <th mat-header-cell *matHeaderCellDef>OT selection</th>
                                <td mat-cell *matCellDef="let row" style="white-space: nowrap;">
                                    <a>
                                        <input type="checkbox" id="checkisOT" [(checked)]="row['IsOTEmp']"
                                            (change)="selectionChange(row)" style="width: 20px; height: 20px;">
                                    </a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="OTBasedOn">
                                <th mat-header-cell *matHeaderCellDef>OT BasedOn</th>
                                <td mat-cell *matCellDef="let row" style="white-space: nowrap;">
                                    <mat-radio-group class="format-col" aria-label="Select an option"
                                        [disabled]="!row['IsOTEmp']" [(ngModel)]="row['OTBasedOn']"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-radio-button class="format-opt"
                                            value="BasicVDA">Basic+VDA</mat-radio-button>
                                        <mat-radio-button class="format-opt" value="NetSal">NetSal</mat-radio-button>
                                    </mat-radio-group>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="EmployeeID">
                                <th mat-header-cell *matHeaderCellDef>Employee ID</th>
                                <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{ row.UniqueEmpId ||
                                    row.Employee?.UniqueEmpId }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="EmployeeName">
                                <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                                <td mat-cell *matCellDef="let row">{{ row.FullName || row.Employee?.FullName }}</td>
                            </ng-container>

                            <ng-container matColumnDef="Designation">
                                <th mat-header-cell *matHeaderCellDef>Designation</th>
                                <td mat-cell *matCellDef="let row">{{ row.WorkOrderRole?.role?.name ||
                                    row.Employee?.WorkOrderRole?.role?.name }}</td>
                            </ng-container>

                            <ng-container matColumnDef="Salary">
                                <th mat-header-cell *matHeaderCellDef>Salary</th>
                                <td mat-cell *matCellDef="let row">{{ row.WorkOrderRole?.salary ||
                                    row.Employee?.WorkOrderRole?.salary }}</td>
                            </ng-container>

                            <ng-container matColumnDef="NoOfDaysWorked">
                                <th mat-header-cell *matHeaderCellDef>No. Of Days Worked</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <input type="number"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        value="{{row.NoOfDaysWorked}}"
                                        (keyup)="UpdateDaysWorkedData(row, NoOfDaysWorked.valueAsNumber)"
                                        #NoOfDaysWorked>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="NoOfLeaves">
                                <th mat-header-cell *matHeaderCellDef>No. Of Leaves</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <input type="number"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        value="{{row.NoOfLeaves}}"
                                        (keyup)="UpdateLeavesData(row, NoOfLeaves.valueAsNumber)" #NoOfLeaves>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="OTDays">
                                <th mat-header-cell *matHeaderCellDef>
                                    <span style="white-space: nowrap;">No. Of </span> <br>
                                    <span style="white-space: nowrap;">OT Days</span>
                                </th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <!-- <input type="number" [disabled]="!row['IsOTEmp']"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        value="{{row.NoOfOTDays}}" (keyup)="UpdateOTData(row, NoOfOTDays.valueAsNumber)"
                                        #NoOfOTDays> -->

                                    <input type="number" [disabled]="!row['IsOTEmp']"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        value="{{row.NoOfOTDays ? row.NoOfOTDays : 0}}"
                                        (keyup)="UpdateOTData($event, row)" [(ngModel)]="row.NoOfOTDays"
                                        [ngModelOptions]="{standalone: true}" #NoOfOTDays>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="TDS">
                                <th mat-header-cell *matHeaderCellDef>Tax Deducted at Source</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <input type="number" [(ngModel)]="row.TDSAmount"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        value="{{row.TDSAmount ? row.TDSAmount : 0}}"
                                        name="deduction-input-{{row.EmployeeId || row.Employee?.EmployeeId}}"
                                        #TDSAmount>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Advance">
                                <th mat-header-cell *matHeaderCellDef>Advance</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <input type="number" [(ngModel)]="row.AdvanceAmount"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        value="{{row.AdvanceAmount ? row.AdvanceAmount : 0}}"
                                        name="deduction-input-{{row.EmployeeId || row.Employee?.EmployeeId}}"
                                        #AdvanceAmount>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Uniform">
                                <th mat-header-cell *matHeaderCellDef>Uniform</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <input type="number" [(ngModel)]="row.UniformFee"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        value="{{row.UniformFee ? row.UniformFee : 0}}"
                                        name="deduction-input-{{row.EmployeeId || row.Employee?.EmployeeId}}"
                                        #UniformFee>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="FinesDamages">
                                <th mat-header-cell *matHeaderCellDef>Fines/ Damages</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <input type="number" [(ngModel)]="row.FineAmount"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        value="{{row.FineAmount ? row.FineAmount : 0}}"
                                        name="deduction-input-{{row.EmployeeId || row.Employee?.EmployeeId}}"
                                        #FineAmount>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="OtherDeduction">
                                <th mat-header-cell *matHeaderCellDef>Other Deduction</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <input type="number" [(ngModel)]="row.OtherDeductionAmount"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        value="{{row.OtherDeductionAmount ? row.OtherDeductionAmount : 0}}"
                                        name="deduction-input-{{row.EmployeeId || row.Employee?.EmployeeId}}"
                                        #OtherDeductionAmount>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="SalaryAfterDeductions">
                                <th mat-header-cell *matHeaderCellDef>
                                    <span style="white-space: nowrap;">Bill Amount</span>
                                </th>
                                <td mat-cell *matCellDef="let row">{{ row.SalaryAfterDeduction }}</td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="SalaryAfterDeductions">
                                    <span style="white-space: nowrap;">Salary After</span> <br>
                                    <span style="white-space: nowrap;">Deduction for</span> <br>
                                    <span style="white-space: nowrap;">Leave(s) Taken</span>
                                <td mat-cell *matCellDef="let row">
                                    {{ onCalcFinalAmt(row) }}
                                    <input type="number" style="display: none;"
                                        class="form-control w-100 m-auto text-center border border-primary"
                                        [(ngModel)]="row.SalaryAfterDeduction" [ngModelOptions]="{standalone: true}"
                                        [value]="onCalcFinalAmt(row)">
                                </td>
                            </ng-container> -->

                            <tr mat-header-row *matHeaderRowDef="attendenceMonthColumn; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: attendenceMonthColumn;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="9" style="text-align: center;">No data matching the filter
                                </td>
                            </tr>
                        </table>

                        <div *ngIf="proceedToBillFlag == false" style="width: 350px;" class="mt-3 mr-3 float-right h6">
                            <table id="bill-tab">
                                <tr>
                                    <th>TOTAL AMOUNT :</th>
                                    <td class="text-danger">{{TotalAmount || 0}}</td>
                                </tr>
                            </table>
                        </div>

                        <!-- <div *ngIf="proceedToBillFlag == true" style="width: 350px;" class="mt-3 mr-3 float-right h6">
                            <table id="bill-tab">
                                <tr>
                                    <th>TOTAL AMOUNT :</th>
                                    <td>{{TotalAmount || 0}}</td>
                                </tr>
                                <tr *ngIf="this.tableForm.get('CGST').value != 0">
                                    <th class="text-primary">CGST @ {{this.tableForm.get('CGST').value || 0}}% :</th>
                                    <td>{{this.tableForm.get('valueCGST').value || 0}}</td>
                                </tr>
                                <tr *ngIf="this.tableForm.get('SGST').value != 0">
                                    <th class="text-primary">SGST @ {{this.tableForm.get('SGST').value || 0}}% :</th>
                                    <td>{{this.tableForm.get('valueSGST').value || 0}}</td>
                                </tr>
                                <tr *ngIf="this.tableForm.get('IGST').value != 0">
                                    <th class="text-primary">IGST @ {{this.tableForm.get('IGST').value || 0}}% :</th>
                                    <td>{{this.tableForm.get('valueIGST').value || 0}}</td>
                                </tr>
                                <tr *ngIf="this.tableForm.get('TDS').value != 0">
                                    <th class="text-primary">TDS @ {{this.tableForm.get('TDS').value || 0}}% :</th>
                                    <td>{{this.tableForm.get('valueTDS').value || 0}}</td>
                                </tr>
                                <tr *ngIf="this.tableForm.get('TDSCGST').value != 0">
                                    <th class="text-primary">TDS-CGST @ {{this.tableForm.get('TDSCGST').value || 0}}% :
                                    </th>
                                    <td>{{this.tableForm.get('valueTDSCGST').value || 0}}</td>
                                </tr>
                                <tr *ngIf="this.tableForm.get('TDSSGST').value != 0">
                                    <th class="text-primary">TDS-SGST @ {{this.tableForm.get('TDSSGST').value || 0}}% :
                                    </th>
                                    <td>{{this.tableForm.get('valueTDSSGST').value || 0}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div id="total-div" class="text-center mt-3 shadow-sm p-3 bg-white rounded">
                                            <span class="text-dark">TOTAL GROSS AMOUNT: </span><span
                                                class="ml-2 text-danger">₹ {{TotalGrossAmount || 0}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="tab-pane fade show" id="update-attendence-day" role="tabpanel"
            aria-labelledby="update-attendence-day-tab">
            <div class="simple-table-scroller">

                <div class="table-responsive mt-3">
                    <table mat-table [dataSource]="attendenceDaySource" matSort>
                        <ng-container matColumnDef="Employee ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</th>
                            <td mat-cell *matCellDef="let row" style="white-space: nowrap;">-</td>
                        </ng-container>

                        <ng-container matColumnDef="Employee Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
                            <td mat-cell *matCellDef="let row">-</td>
                        </ng-container>

                        <ng-container matColumnDef="Designation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
                            <td mat-cell *matCellDef="let row">-</td>
                        </ng-container>

                        <ng-container matColumnDef="Salary">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
                            <td mat-cell *matCellDef="let row">-</td>
                        </ng-container>

                        <ng-container matColumnDef="No. Of Days Worked">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>No. Of Days Worked</th>
                            <td mat-cell *matCellDef="let row">-</td>
                        </ng-container>

                        <ng-container matColumnDef="No. Of Leaves">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>No. Of Leaves</th>
                            <td mat-cell *matCellDef="let row">-</td>
                        </ng-container>

                        <ng-container matColumnDef="Salary After Deduction for Leave(s) Taken">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary After Deduction for
                                Leave(s)
                                Taken</th>
                            <td mat-cell *matCellDef="let row">-</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="attendenceDayColumn; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: attendenceDayColumn;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="9" style="text-align: center;">No data matching the filter
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div> -->
    </div>

</div>

<div *ngIf="proceedToBillFlag == false" class="d-flex justify-content-center align-items-center">
    <button (click)="SaveChanges()" class="btn btn-danger mr-5">SAVE CHANGES</button>
</div>

<div class="nav-tabs-design mt-4 m-4">

    <ul *ngIf="proceedToBillFlag == false" style="padding-left: 10px;" class="nav nav-tabs justify-content-center"
        id="myTab" role="tablist">
        <li class="nav-item flex-grow-1" role="presentation" style="margin-bottom: 8px">
            <a class="nav-link active" id="update-attendence-month-tab" data-toggle="tab"
                href="#update-attendence-month" role="tab" aria-controls="update-attendence-month" aria-selected="true"
                style="padding: 0px; line-height: 50px;">Bill Abstract
            </a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="update-attendence-month" role="tabpanel"
            aria-labelledby="update-attendence-month-tab">
            <div class="simple-table-scroller">
                <div class="table-responsive mt-3">
                    <table class="text-center" mat-table [dataSource]="billAbstractSource" matSort>
                        <ng-container matColumnDef="SerialNo">
                            <th mat-header-cell *matHeaderCellDef>SL. No</th>
                            <td mat-cell *matCellDef="let row; let i = index;" style="white-space: nowrap;">
                                {{ i + 1 }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Particulars">
                            <th mat-header-cell *matHeaderCellDef>Particulars</th>
                            <td mat-cell *matCellDef="let row">
                                {{ row?.WorkOrderRoleName ? row?.WorkOrderRoleName : '-' }}
                                <br>
                                <span style="font-size: 12px; color: blue;">{{ row?.WOBranch ? row?.WOBranch : '-' }}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Quantity">
                            <th mat-header-cell *matHeaderCellDef>QTY</th>
                            <td mat-cell *matCellDef="let row">
                                {{ row?.RequiredManpower ? row?.RequiredManpower : '-' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Hired">
                            <th mat-header-cell *matHeaderCellDef>Hired</th>
                            <td mat-cell *matCellDef="let row">
                                {{ row?.WorkOrderRoleHired ? row?.WorkOrderRoleHired : 0 }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="NoOfManDays">
                            <th mat-header-cell *matHeaderCellDef>No Of ManDays</th>
                            <td mat-cell *matCellDef="let row">{{ row.hiredEmpworkedDays }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Variation">
                            <th mat-header-cell *matHeaderCellDef style="width: 15%;">Variation</th>
                            <td mat-cell *matCellDef="let row; let i = index" style="width: 15%;">
                                <input type="number" [(ngModel)]="row.Variation"
                                    (keyup)="UpdateVariationData($event, row)" [ngModelOptions]="{standalone: true}"
                                    class="form-control w-50 m-auto text-center border border-primary"
                                    value="{{row.Variation ? row.Variation : 0}}" #Variation>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="TotalNoOfManDays">
                            <th mat-header-cell *matHeaderCellDef>Total No of Man Days</th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.TotalNoOfManDays }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Wagespermonth">
                            <th mat-header-cell *matHeaderCellDef>Wages per month</th>
                            <td mat-cell *matCellDef="let row">
                                {{ row?.WOWages ? row?.WOWages : '-' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="AmountinRs">
                            <th mat-header-cell *matHeaderCellDef>Amount in Rs</th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.BillAmount }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="billAbstractColumn; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: billAbstractColumn;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="9" style="text-align: center;">No data matching the filter
                            </td>
                        </tr>
                    </table>

                    <div *ngIf="proceedToBillFlag == false" style="width: 350px;" class="mt-3 mr-3 float-right h6">
                        <table id="bill-tab">
                            <tr>
                                <th>TOTAL AMOUNT :</th>
                                <td class="text-danger"> {{TotalBillAmount || 0}} </td>
                            </tr>
                        </table>
                    </div>

                    <div *ngIf="proceedToBillFlag == true" style="width: 350px;" class="mt-3 mr-3 float-right h6">
                        <table id="bill-tab">
                            <tr>
                                <th>TOTAL AMOUNT :</th>
                                <td>{{TotalBillAmount || 0}}</td>
                            </tr>
                            <tr *ngIf="this.tableForm.get('CGST').value != 0">
                                <th class="text-primary">CGST @ {{this.tableForm.get('CGST').value || 0}}% :</th>
                                <td>{{this.tableForm.get('valueCGST').value || 0}}</td>
                            </tr>
                            <tr *ngIf="this.tableForm.get('SGST').value != 0">
                                <th class="text-primary">SGST @ {{this.tableForm.get('SGST').value || 0}}% :</th>
                                <td>{{this.tableForm.get('valueSGST').value || 0}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="total-div" class="text-center mt-3 shadow-sm p-3 bg-white rounded">
                                        <span class="text-dark">TOTAL GROSS AMOUNT: </span><span
                                            class="ml-2 text-danger">₹ {{TotalGrossAmount || 0}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="proceedToBillFlag == false" class="d-flex justify-content-center align-items-center">
    <button (click)="SaveBillAbstract()" class="btn btn-danger mr-5">SAVE CHANGES</button>
    <button (click)="OpenModal('TaxModal')" class="btn btn-primary">CALCULATE/UPDATE TAX</button>
</div>

<form [formGroup]="tableForm">
    <div *ngIf="proceedToBillFlag == true" class="d-flex justify-content-center align-items-center">
        <button (click)="Back()" class="btn btn-primary mr-5">BACK</button>
        <div class="form-group mr-5">
            <label class="required" for="">Due Date for Payment</label>
            <input formControlName="DueDate" type="date" class="form-control">
            <div class="text-danger"
                *ngIf="(tableForm.controls['DueDate'].touched || tableForm.controls['DueDate'].dirty) && tableForm.controls['DueDate'].errors?.required">
                Due Date is required.
            </div>
        </div>
        <button (click)="GenerateBill()" class="btn btn-success">GENERATE BILL</button>
    </div>
</form>

<!-- Tax Modal -->
<div id="TaxModal" class="mt-3" style="display: none;">
    <div class="w-100 pt-2 pb-2 text-center h5 bg-dark text-light mb-0 mt-5">UPDATE / VERIFY TAX DETAILS GENERATED
        FOR
        THE BILL AMOUNT <span (click)="CloseModal('TaxModal')" style="cursor: default;"
            class="float-right mr-3">X</span> </div>
    <div class="p-4">
        <form [formGroup]="tableForm">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="required" for="">CGST</label>
                        <div class="d-flex justify-content-between align-items-center">
                            <input (keyup)="UpdateTax()" formControlName="CGST" type="number" class="form-control w-25">
                            <label for=""> : </label>
                            <input formControlName="valueCGST" value="0.00" type="number" class="form-control w-50">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="required" for="">SGST</label>
                        <div class="d-flex justify-content-between align-items-center">
                            <input (keyup)="UpdateTax()" formControlName="SGST" type="number" class="form-control w-25">
                            <label for=""> : </label>
                            <input formControlName="valueSGST" value="0.00" type="number" class="form-control w-50">
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-4">
                    <div class="form-group">
                        <label class="required" for="">IGST</label>
                        <div class="d-flex justify-content-between align-items-center">
                            <input (keyup)="UpdateTax()" formControlName="IGST" type="number" class="form-control w-25">
                            <label for=""> : </label>
                            <input formControlName="valueIGST" value="0.00" type="number" class="form-control w-50">
                        </div>
                    </div>
                </div> -->

            </div>
            <!-- <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="required" for="">TDS</label>
                        <div class="d-flex justify-content-between align-items-center">
                            <input (keyup)="UpdateTax()" formControlName="TDS" type="number" class="form-control w-25">
                            <label for=""> : </label>
                            <input formControlName="valueTDS" value="0.00" type="number" class="form-control w-50">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="required" for="">TDS-CGST</label>
                        <div class="d-flex justify-content-between align-items-center">
                            <input (keyup)="UpdateTax()" formControlName="TDSCGST" type="number"
                                class="form-control w-25">
                            <label for=""> : </label>
                            <input formControlName="valueTDSCGST" value="0.00" type="number" class="form-control w-50">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="required" for="">TDS-SGST</label>
                        <div class="d-flex justify-content-between align-items-center">
                            <input (keyup)="UpdateTax()" formControlName="TDSSGST" type="number"
                                class="form-control w-25">
                            <label for=""> : </label>
                            <input formControlName="valueTDSSGST" value="0.00" type="number" class="form-control w-50">
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="d-flex justify-content-between align-items-center">
                <label for="">Note: Pecentage of Tax and Tax Amount can be modified here. If a Tax Parameter is not
                    required. Set it's corresponding value to 0</label>
                <button (click)="ProceedToBill()" class="btn btn-success">PROCEED TO GENERATE BILL ></button>
            </div>
        </form>
    </div>
</div>