.fa-download {
    color: blue;
}

.emp-status {
    text-align: center;
    // line-height: 35px;
    width: 20%;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    background: grey;
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    // font-size: 16px;
    position: fixed;
    left: 220px;
    right: 0px;
    z-index: 99999;
}


@media only screen and (max-width: 1024px) {
    .emp-status {
        width: 20%;
    }
}

@media only screen and (max-width: 400px) {
    .emp-status {
        width: 30%;
    }
}


.alrt-container {
    display: flex;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625em;
    overflow: hidden;
    transition: background-color .1s;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, .4);

    .alrt-container:not(.alrt-top):not(.alrt-top-start):not(.alrt-top-end):not(.alrt-top-left):not(.alrt-top-right):not(.alrt-center-start):not(.alrt-center-end):not(.alrt-center-left):not(.alrt-center-right):not(.alrt-bottom):not(.alrt-bottom-start):not(.alrt-bottom-end):not(.alrt-bottom-left):not(.alrt-bottom-right):not(.alrt-grow-fullscreen)>.alrt-modal {
        margin: auto;
    }

    .alrt-show {
        -webkit-animation: alrt-show .3s;
        animation: alrt-show .3s;
    }

    .alrt-popup {
        display: none;
        position: relative;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        width: 32em;
        max-width: 100%;
        padding: 1.25em;
        border: none;
        border-radius: .3125em;
        background: #fff;
        font-family: inherit;
        font-size: 1rem;

        .alrt-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            .alrt-progress-steps {
                align-items: center;
                margin: 0 0 1.25em;
                padding: 0;
                background: inherit;
                font-weight: 600;
            }

            ul {
                display: block;
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }

            .alrt-icon {
                position: relative;
                box-sizing: content-box;
                justify-content: center;
                width: 5em;
                height: 5em;
                margin: 1.25em auto 1.875em;
                border: .25em solid transparent;
                border-radius: 50%;
                font-family: inherit;
                line-height: 5em;
                cursor: default;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &.alrt-error {
                    border-color: #f27474;
                    color: #f27474;
                }

                &.alrt-question {
                    border-color: #c9dae1;
                    color: #87adbd;
                }

                &.alrt-warning {
                    border-color: #facea8;
                    color: #f8bb86;
                }

                &.alrt-info {
                    border-color: #9de0f6;
                    color: #3fc3ee;
                }

                &.alrt-success {
                    border-color: #a5dc86;
                    color: #a5dc86;
                }

                >div.alrt-icon-content {
                    display: flex;
                    align-items: center;
                    font-size: 3.75em;
                }
            }

            .alrt-image {
                max-width: 100%;
                margin: 1.25em auto;
            }

            img {
                vertical-align: middle;
                border-style: none;
            }

            .alrt-title {
                position: relative;
                max-width: 100%;
                margin: 0 0 .4em;
                padding: 0;
                color: #595959;
                font-size: 1.875em;
                font-weight: 600;
                text-align: center;
                text-transform: none;
                word-wrap: break-word;
            }

            h2 {
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }

        .alrt-content {
            z-index: 1;
            justify-content: center;
            margin: 0;
            padding: 0;
            color: #545454;
            font-size: 1.125em;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            word-wrap: break-word;

            .alrt-input {
                height: 2.625em;
                padding: 0 .75em;
            }

            .alrt-file,
            .alrt-input,
            .alrt-textarea {
                box-sizing: border-box;
                width: 100%;
                transition: border-color .3s, box-shadow .3s;
                border: 1px solid #d9d9d9;
                border-radius: .1875em;
                background: inherit;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06);
                color: inherit;
                font-size: 1.125em;
            }

            .alrt-checkbox,
            .alrt-file,
            .alrt-input,
            .alrt-radio,
            .alrt-select,
            .alrt-textarea {
                margin: 1em auto;
            }

            button,
            input {
                overflow: visible;
                font-family: inherit;
                line-height: inherit;
            }

            input {
                -webkit-writing-mode: horizontal-tb !important;
                text-rendering: auto;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                text-shadow: none;
                text-align: start;
                appearance: auto;
                -webkit-rtl-ordering: logical;
                cursor: text;
                font: 400 13.3333px Arial;
            }
        }

        .alrt-actions {
            display: flex;
            z-index: 1;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 1.25em auto 0;

            .alrt-styled.alrt-confirm {
                border: 0;
                border-radius: .25em;
                background: initial;
                background-color: #3085d6;
                color: #fff;
                font-size: 1.0625em;
            }

            .alrt-styled {
                margin: .3125em;
                padding: .625em 2em;
                box-shadow: none;
                font-weight: 500;
            }

            .alrt-styled:not([disabled]) {
                cursor: pointer;
            }

            .alrt-styled.alrt-cancel {
                border: 0;
                border-radius: .25em;
                background: initial;
                background-color: #aaa;
                color: #fff;
                font-size: 1.0625em;
            }
        }

        .alrt-footer {
            justify-content: center;
            margin: 1.25em 0 0;
            padding: 1em 0 0;
            border-top: 1px solid #eee;
            color: #545454;
            font-size: 1em;
        }

        .alrt-timer-progress-bar-container {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: .25em;
            overflow: hidden;
            border-bottom-right-radius: .3125em;
            border-bottom-left-radius: .3125em;

            .alrt-timer-progress-bar {
                width: 100%;
                height: .25em;
                background: rgba(0, 0, 0, .2);
            }
        }
    }
}

:host ::ng-deep .modal-content {
    margin-top: 125px !important;
}

.hidden {
    display: none;
}

.form-control.sources {
    border: 1px solid #ced4da;
    padding: 10px;
    height: 40px;
}

.onboard-text {
    border: 1px solid #ced4da;
    padding: 10px;
}

table {
    // display: block;
    overflow-x: auto;
    white-space: nowrap;
    // background-color: rgb(246, 246, 253);
    margin-top: 5px;
    padding: 0;
    box-shadow: 1px 1px 2px 1.5px rgba(167, 174, 180, 0.425);

    thead {
        width: 100%;
        background: transparent;
        color: #181522;

        tr {
            th {
                font-size: 12px;
                font-weight: 500;
                padding: 8px !important;
                border-top: 0 !important;
            }
        }
    }

    tbody {
        width: 100%;

        &.v-align {
            tr {
                td {
                    vertical-align: middle;
                }
            }
        }

        tr {
            td {
                text-transform: capitalize;
                font-size: 12px;
                padding: 6px 10px !important;

                .actions i {
                    cursor: pointer;
                }
            }
        }
    }
}

.avoid-table {
    box-shadow: none;
}

.avoid-table tr td {
    text-transform: capitalize;
    padding: 1px 1px !important;
}

.ad-timelite tr td h4 {
    text-align: left;
    font-size: 9.5px;
    color: #858789;
    margin: 0;
    // line-height: 10px;
}

.ad-timelite tr td p {
    text-align: left;
    font-weight: 500 !important;
    color: #090a0a;
    margin: 0 0 2px;
    // line-height: 16px;
    font-size: 14px;
}

.subtitle {
    text-align: left !important;
    font-size: 9.5px !important;
    color: #858789 !important;
    margin: 0 !important;
    line-height: 10px !important;
}

.subtitle-head {
    text-align: left !important;
    font-weight: 500 !important;
    color: #090a0a !important;
    margin: 0 0 2px !important;
    line-height: 16px !important;
}