<!-- <div class="row">
    <button class="emp-status" [ngClass]="{'hidden': isModalOpen}" (click)="OpenlinkModel(linkModel)"
        [disabled]="isButtonDisabled">
        <div>Share Link
            <i class="fa fa-share fa_custom" style="font-size:24px"></i>
        </div>
    </button>
</div> -->
<div class="dashboard-wrapper m-4">
    <div class="dashboard-screen">
        <h4 style="font-size: 22px;" class="font-weight-bolder pl-2">Dashboard</h4>
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                <div class="counter-box p-3">
                    <h6>Total Clients</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <h1>{{DashboardDetail?.TotalClients || 0}}</h1>
                        <span class="icon"><img alt="total-clients-icon"
                                src="./assets/images/total-clients-icon.svg"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                <div class="counter-box p-3">
                    <h6>Total Work Orders</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <h1>{{DashboardDetail?.TotalWorkOrders || 0}}</h1>
                        <span class="icon"><img alt="total-clients-icon"
                                src="./assets/images/work-orders-icons.svg"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                <div class="counter-box p-3">
                    <h6>Total Requirement</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <h1>{{DashboardDetail?.TotalRequirements || 0}}</h1>
                        <span class="icon"><img alt="total-clients-icon"
                                src="./assets/images/total-requerment-icon.svg"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                <div class="counter-box p-3">
                    <h6>Total Employees Hired</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <h1>{{DashboardDetail?.TotalEmployeesHired || 0}}</h1>
                        <span class="icon"><img alt="total-clients-icon"
                                src="./assets/images/employees-hired-icon.svg"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                <div class="counter-box p-3">
                    <h6>Total Vacancies</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <h1>{{DashboardDetail?.TotalVacancies || 0}}</h1>
                        <span class="icon"><img alt="total-clients-icon" src="./assets/images/vaccines-icon.svg"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                <div class="counter-box p-3">
                    <h6>Waiting For Approval</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <h1>{{DashboardDetail?.WaitingForApproval || 0}}</h1>
                        <span class="icon"><img alt="total-clients-icon" src="./assets/images/vaccines-icon.svg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="w-100 pt-2 pb-2 text-center h5 bg-info text-light mb-0">Bill(s) Not Generated</div>
            <div class="example-container">
                <div class="table-responsive">
                    <table mat-table [dataSource]="billDataSource" matSort>

                        <ng-container matColumnDef="Sl No">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl.No</th>
                            <td mat-cell *matCellDef="let row; let i=index;" style="white-space: nowrap;">
                                {{ pagination.pageIndex * pagination.pageSize + i + 1 }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Client Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                            <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{
                                row.WorkOrder?.client?.name }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Work Order ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work Order Name</th>
                            <td mat-cell *matCellDef="let row" style="white-space: nowrap;">
                                {{row.WorkOrder?.name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Employees">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employees</th>
                            <td mat-cell *matCellDef="let row">{{ row.Employees?.length || 0}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Month & Year">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Month & Year</th>
                            <td mat-cell *matCellDef="let row">{{ row.Month }} {{ row.Year }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="billColumn; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: billColumn;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="10" style="text-align: center;">No data matching the filter
                            </td>
                        </tr>
                    </table>
                </div>
                <mat-paginator #pagination [length]="BillListTotal" [pageSizeOptions]="[10, 25, 50, 100]"
                    id="BillPagination" (page)="getBillData($event)">
                </mat-paginator>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="w-100 pt-2 pb-2 text-center h5 bg-info text-light mb-0">Bill(s) Not Paid</div>
            <div class="example-container">
                <div class="table-responsive">
                    <table mat-table [dataSource]="paymentDataSource" matSort>

                        <ng-container matColumnDef="Sl No">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl.No</th>
                            <td mat-cell *matCellDef="let row; let i=index;" style="white-space: nowrap;">
                                {{ pagination.pageIndex * pagination.pageSize + i + 1 }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Client Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                            <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{
                                row.WorkOrder?.client?.name }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Work Order ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work Order Name</th>
                            <td mat-cell *matCellDef="let row">{{row.WorkOrder?.name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Bill Amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill Amount</th>
                            <td mat-cell *matCellDef="let row">{{ row.GrossAmount || 0}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Generated On">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Generated On</th>
                            <td mat-cell *matCellDef="let row">{{ row.GeneratedOn | date: 'dd-MM-yyyy'}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="paymentColumn; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: paymentColumn;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="10" style="text-align: center;">No data matching the
                                filter</td>
                        </tr>
                    </table>
                </div>
                <mat-paginator #pagination [length]="PaymentListTotal" [pageSizeOptions]="[10, 25, 50, 100]"
                    id="PaymentPagination" (page)="getPaymentData($event)">
                </mat-paginator>
            </div>
        </div>
    </div>

    <div class="w-100 pt-2 pb-2 text-center h5 bg-danger text-light mb-0 mt-4">Manpower Requirement</div>
    <div class="example-container">
        <div class="table-responsive">
            <table mat-table [dataSource]="notHiredDataSource" matSort>

                <ng-container matColumnDef="Sl No">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl.No</th>
                    <td mat-cell *matCellDef="let row; let i=index;" style="white-space: nowrap;">
                        {{ pagination.pageIndex * pagination.pageSize + i + 1 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center !important;">Actions</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="actions">
                            <i routerLink="/workorder/overview/{{row._id}}" class="fas fa-eye view" tooltip="View"></i>
                            <a target="_blank" [href]="DocUrl+row.workOrderDocument"><i class="fas fa-download"
                                    tooltip="Download"></i></a>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Client Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                    <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{ row.client?.name }}</td>
                </ng-container>

                <ng-container matColumnDef="Work Order ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Work Order Name</th>
                    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                </ng-container>

                <ng-container matColumnDef="Contract Validity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract Validity</th>
                    <td mat-cell *matCellDef="let row">
                        <table class="avoid-table ad-timelite">
                            <tr>
                                <td matTooltip="Start Date" matTooltipPosition="left" style="padding: 5px !important;">
                                    <h4>Start Date</h4>
                                    <p>{{ row.StartDate | date: "dd-MM-yyyy" }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td matTooltip="End Date" matTooltipPosition="left" style="padding: 5px !important;">
                                    <h4>End Date</h4>
                                    <p>{{ row.RenewalDate | date: "dd-MM-yyyy" }}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- <td mat-cell *matCellDef="let row">{{ row.StartDate | date: "dd-MM-yyyy" }}</td> -->
                </ng-container>

                <!-- <ng-container matColumnDef="Contract Renewal Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract Renewal Date</th>
                    <td mat-cell *matCellDef="let row">{{ row.RenewalDate | date: "dd-MM-yyyy" }}</td>
                </ng-container> -->

                <ng-container matColumnDef="Requirements">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Requirements</th>
                    <td mat-cell *matCellDef="let row">{{ row.noOfRequirements || 0 }}</td>
                </ng-container>

                <ng-container matColumnDef="Hired">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Hired</th>
                    <td mat-cell *matCellDef="let row">{{ row.hired || 0 }}</td>
                </ng-container>

                <ng-container matColumnDef="Vacancies">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vacancies</th>
                    <td mat-cell *matCellDef="let row">{{ row.noOfRequirements - row.hired || 0 }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="notHiredColumn; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: notHiredColumn;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="10" style="text-align: center;">No data matching the
                        filter</td>
                </tr>
            </table>
        </div>
        <mat-paginator #pagination [length]="ClientListTotal" [pageSizeOptions]="[10, 25, 50, 100]"
            id="ClientPagination" (page)="getClientData($event)">
        </mat-paginator>
    </div>

</div>


<!-- share link Modal-->
<ng-template #linkModel>
    <div class="global-create-modal-wrapper" style="width: 100%;">
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div style=" float: right; width: fit-content;">
                        <button type="button" class="close close-btn" aria-label="Close"
                            style="margin-left: -10px; margin-top: -7px" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div>
                        <h4><i class="fas fa-list" style="margin: 3px; margin-right: 8px;"></i>
                            Share Link Details</h4>
                        <hr style="margin-top: 4px; margin-bottom: 4px;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-holder col-sm-12" style="padding: 3px;">
                    <div class="card card-plain" style="padding: 0;">
                        <div class="card-body" style="padding-bottom: 5px;">
                            <div class="row">

                                <div class="col-lg-6">
                                    <label class="label-aa" for="Name"><i>Name</i></label>
                                    <div class="form-group" style="width: 100%; margin-top: 5px">
                                        <input matInput id="Name" [(ngModel)]="Name" placeholder="Enter Name"
                                            class="form-control sources">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <label class="label-aa" for="PhoneNo"><i>Phone No</i></label>
                                    <div class="form-group" style="width: 100%; margin-top: 5px">
                                        <input matInput id="PhoneNo" [(ngModel)]="PhoneNo" placeholder="Enter PhoneNo"
                                            class="form-control sources" maxlength="10">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group" style="width: 100%; margin-top: 5px">
                                        <div class="onboard-text">
                                            Welcome to Spoorthy Group. We're so excited to have you onboard, please
                                            <a href="http://148.72.213.34/SpoorthyAdmin/openlinkForm"
                                                target="_blank">click here</a>
                                            to submit your details. Powered by Wizlite.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg">
                                    <hr style="margin-top: 2px; margin-bottom: 6px;">
                                    <div class="button-holder">
                                        <button type="button" (click)="modalRef.hide()" style="margin-right: 5px;"
                                            class="btn btn-danger">Cancel</button>
                                        <button type="submit" (click)="openLink()" style="margin-left: 5px;"
                                            class="btn btn-success">Share</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>