<div class="dashboard-screen m-4" id="showSearch">
    <h2 class="font-weight-bolder">Work Order Details</h2>

    <form class="form" [formGroup]="clientWorkOrderForm">
        <div class="row mt-3">

            <div class="col-lg-4">
                <div class="form-group">
                    <label class="required" for="clientName">Client Name</label>
                    <select formControlName="clientName"
                        (ngModelChange)="filterWorkOrderRole(this.clientWorkOrderForm.get('clientName').value)"
                        class="form-control">
                        <option value="" disabled selected style="color: red;">Select Client Name</option>
                        <option *ngFor="let data of allClient" [value]="data._id">{{data.name}}</option>
                    </select>
                    <!-- <div class="text-danger"
                        *ngIf="(clientWorkOrderForm.controls['clientName'].touched || clientWorkOrderForm.controls['clientName'].dirty) && clientWorkOrderForm.controls['clientName'].errors?.required">
                        Client Name is required.
                    </div> -->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label class="required" for="workorderName">Work Order</label>
                    <select formControlName="workorderName" class="form-control">
                        <option value="" disabled selected style="color: red;">Select Work Order Name</option>
                        <option *ngFor="let data of showWorkOrder" [value]="data._id">{{data.name}}</option>
                    </select>
                    <!-- <div class="text-danger"
                        *ngIf="(clientWorkOrderForm.controls['workorderName'].touched || clientWorkOrderForm.controls['workorderName'].dirty) && clientWorkOrderForm.controls['workorderName'].errors?.required">
                        Work Order Name is required.
                    </div> -->
                </div>
            </div>

            <div class="col-lg-4">
                <div style="margin-top: 20px;" class="form-group">
                    <button type="button" (click)="ViewDetail()" [disabled]="!clientWorkOrderForm.valid"
                        class="btn btn-danger">VIEW WORK ORDER DETAILS</button>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="dashboard-screen m-4" id="showDetail" style="display: none;">
    <div class="mt-4">
        <h1 class="m-0 pl-2">{{singleWorkOrder?.client?.name}}</h1>
        <div class="double-header-title d-flex justify-content-between align-items-center flex-wrap">
            <h4 class="font-weight-bolder pl-2"> {{singleWorkOrder?.name}}
                <span class="font-weight-light"> ({{singleWorkOrder?.WorkOrderId}}) </span>
            </h4>

            <div>
                <div class="round-box blink_me" *ngIf="datecount > 0 && datecount <= 30">
                    {{datecount}} Day(s) Left to Expire !
                </div>
                <div class="round-box blink_me" *ngIf="todaysDate > woRenewalDate" style="background: red;">
                    Work Order Expired.
                </div>
                <h6 class="pr-2"> WORK ORDER RENEWAL DATE
                    <span>: {{singleWorkOrder?.RenewalDate | date: 'dd-MMM-yyyy'}}</span>
                </h6>
            </div>
            <!-- <p class="blink_me" *ngIf="datecount > 0 && datecount <= 30"
                style="font-size: 13px; font-weight: 500; text-align: right; color: blue; border: none;">
                {{datecount}} day(s) remaining for the work order to expire!
            </p>
            <p class="blink_me" *ngIf="todaysDate > woRenewalDate"
                style="font-size: 13px; font-weight: 500; text-align: right; color: rgb(255, 0, 64); border: none;">
                Work Order Expired!
            </p> -->

            <div class="row">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                    <div class="counter-box p-3">
                        <h6>WO Requirement</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <h1>{{DashboardDetail?.WORequirement || 0}}</h1>
                            <span class="icon"><img alt="total-clients-icon"
                                    src="./assets/images/total-requerment-icon.svg"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                    <div class="counter-box p-3">
                        <h6>Employee Hired</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <h1>{{DashboardDetail?.EmployeeHired || 0}}</h1>
                            <span class="icon"><img alt="total-clients-icon"
                                    src="./assets/images/employees-hired-icon.svg"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                    <div class="counter-box p-3">
                        <h6>Vacancies</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <h1>{{DashboardDetail?.TotalVacancies || 0}}</h1>
                            <span class="icon"><img alt="total-clients-icon"
                                    src="./assets/images/vaccines-icon.svg"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                    <div class="counter-box p-3">
                        <h6>Waiting for Approval</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <h1>{{DashboardDetail?.WaitingForApproval || 0}}</h1>
                            <span class="icon"><img alt="total-clients-icon"
                                    src="./assets/images/employees-hired-icon.svg"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                    <div class="counter-box p-3">
                        <h6>Under GM Approval</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <h1>{{DashboardDetail?.UnderGMApproval || 0}}</h1>
                            <span class="icon"><img alt="total-clients-icon"
                                    src="./assets/images/vaccines-icon.svg"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
                    <div class="counter-box p-3">
                        <h6>Under MD Approval</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <h1>{{DashboardDetail?.UnderMDApproval || 0}}</h1>
                            <span class="icon"><img alt="total-clients-icon"
                                    src="./assets/images/vaccines-icon.svg"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5" style="overflow-x: auto;">
                <div class="example-container text-center col-lg-12">
                    <div class="w-100 pt-2 pb-2 text-center h5 bg-danger text-light mb-0 mt-4">WORK ORDER SUMMARY &
                        STATISTICS</div>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="workOrderSummarySource" matSort>
                            <ng-container matColumnDef="JOB/ROLE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>JOB/ROLE</th>
                                <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{ row?.role?.name }}</td>
                            </ng-container>

                            <ng-container matColumnDef="UNIT/BRANCH">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>UNIT/BRANCH</th>
                                <td mat-cell *matCellDef="let row"> {{ row?.branchName }}</td>
                            </ng-container>

                            <ng-container matColumnDef="JOB LOCATION">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>JOB LOCATION</th>
                                <td mat-cell *matCellDef="let row">{{ row?.siteAddress }}</td>
                            </ng-container>

                            <ng-container matColumnDef="TOTAL">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL</th>
                                <td mat-cell *matCellDef="let row">{{ row?.noOfManpower }}</td>
                            </ng-container>

                            <ng-container matColumnDef="HIRED">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>HIRED</th>
                                <td mat-cell *matCellDef="let row">{{ row?.hired || 0}}</td>
                            </ng-container>

                            <ng-container matColumnDef="WAITING FOR APPROVAL">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>WAITING FOR APPROVAL</th>
                                <td mat-cell *matCellDef="let row">{{ row?.underapproval || 0 }}</td>
                            </ng-container>

                            <ng-container matColumnDef="VACANCIES">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>VACANCIES</th>
                                <td mat-cell *matCellDef="let row">{{ row?.noOfManpower - row.hired || 0}}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="workOrderSummaryColumn; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: workOrderSummaryColumn;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="9" style="text-align: center;">No data matching the filter
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-12 mt-5 d-flex justify-content-between align-items-center flex-wrap">
                <div class="col-lg-5" style="display: flex;">
                    <h3 class="m-0">Bills <span>( {{ NoOfBills || 0 }} )</span></h3>
                </div>
                <div class="col-lg-7"
                    style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                    <mat-form-field style="width: 200px;" class="mr-4">
                        <mat-label>Search by Invoice No.</mat-label>
                        <input matInput (keyup)="SearchFilter(input.value)" placeholder="Search..." #input>
                        <input [(ngModel)]="searchText" matInput placeholder="Search..." #input>
                    </mat-form-field>

                    <button class="form-control btn btn-secondary col-md-2 btn-search" style="font-size: 14px;"
                        (click)="InitBillSourceCall()">Search</button>

                    <i class="fas fa-download download fa-2x" style="margin-right: 1.5rem; padding-top: 0px;"></i>

                    <div class="actions" style="align-self: center;">
                        <button style="font-size: 14px;" (click)="OpenMonthSelectModel('SelectBillModel')"
                            class="form-control btn btn-danger btn-search">GENERATE BILL</button>
                    </div>

                </div>
            </div> -->

        <div class="mt-5 container-fluid">
            <div class="row">
                <div class="col-lg-4" style="align-self: center; padding-bottom: 10px;">
                    <h3 class="m-0">Bills <span>( {{ NoOfBills || 0 }} )</span></h3>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4" style="align-self: center; padding-bottom: 10px;">
                            <mat-form-field>
                                <mat-label>Search by Invoice No.</mat-label>
                                <input [(ngModel)]="searchText" matInput placeholder="Search..." #input>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4" style="align-self: center; padding-bottom: 10px;">
                            <button class="form-control btn btn-secondary btn-search" style="font-size: 14px;"
                                (click)="InitBillSourceCall()">Search</button>
                        </div>
                        <div class="col-lg-4" style="align-self: center; white-space: nowrap; padding-bottom: 10px;">
                            <button style="font-size: 14px;" (click)="OpenMonthSelectModel('SelectBillModel')"
                                class="form-control btn btn-danger btn-search">GENERATE BILL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="example-container" style="overflow-x: auto;">
                <div class="table-responsive">
                    <table mat-table [dataSource]="billSource" matSort>

                        <ng-container matColumnDef="Sl No">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl.No</th>
                            <td mat-cell *matCellDef="let row; let i=index;" style="white-space: nowrap;">
                                {{ pagination.pageIndex * pagination.pageSize + i + 1 }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center !important;">Actions</th>
                            <td mat-cell *matCellDef="let row">
                                <!-- <div class="actions">
                                    <i *ngIf="row.isGenerated == true" routerLink="/invoice/{{row._id}}"
                                        class="fas fa-eye view" tooltip="View"></i>
                                    <i *ngIf="row.isGenerated == true" class="fas fa-download" tooltip="Download"></i>
                                    <button *ngIf="row.isGenerated == false" (click)="goto(workorderUrl, row)"
                                        style="font-size: 8px;" class="btn btn-danger">GENERATE BILL</button>
                                </div>
                                <div *ngIf="!row._id" class="actions">
                                    <button (click)="goto1(workorderUrl, row)" style="font-size: 8px;"
                                        class="btn btn-danger">GENERATE BILL</button>
                                </div> -->
                                <div class="actions">
                                    <!-- <i *ngIf="row.isGenerated == true" (click)="ModelOpen('CandidateModel', row.Employees)"
                                    class="fas fa-eye view" tooltip="View"></i> -->
                                    <i *ngIf="row.isGenerated == true" routerLink="/invoice/{{row._id}}"
                                        class="fas fa-eye view" tooltip="View"></i>
                                    <a *ngIf="row.isGenerated == true" [href]="row?.InvoiceURL" target="_blank"
                                        download="bill.pdf">
                                        <i class="fas fa-download" tooltip="Download"></i>
                                    </a>
                                    <button *ngIf="row.isGenerated == false" (click)="goto(row)" style="font-size: 8px;"
                                        class="btn btn-danger">GENERATE BILL</button>
                                </div>
                                <div class="actions" style="margin-top: 5px;">
                                    <i *ngIf="row.isGenerated == true" class="fas fa-file-excel" tooltip="Salary-Stat"
                                        (click)="export('Excel', row._id)"></i>

                                    <i *ngIf="row.isGenerated == true" class="fas fa-receipt" tooltip="All PaySlip"></i>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Invoice No.">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice No.</th>
                            <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{ row?.BillId || '#NA' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Bill Month & Year">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill Month & Year</th>
                            <td mat-cell *matCellDef="let row">{{ row?.Month || '-' }} {{ row?.Year }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Gross Amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gross Amount</th>
                            <td mat-cell *matCellDef="let row">{{ row?.GrossAmount || '-' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Amount Received">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Received</th>
                            <td mat-cell *matCellDef="let row">{{ row?.AmountReceived || '-' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Status Of Payment">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status Of Payment</th>
                            <td mat-cell *matCellDef="let row">{{ row?.BillStatus || '-' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Bill Generated On">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill Generated On</th>
                            <td mat-cell *matCellDef="let row">{{ row?.GeneratedOn | date: 'dd-MM-yyyy' || '-' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Due Date On">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date On</th>
                            <td mat-cell *matCellDef="let row">{{ row?.DueDate | date: 'dd-MM-yyyy' || '-' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Last Paid On">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Paid On</th>
                            <td mat-cell *matCellDef="let row">{{ row?.LastPaidOn | date: 'dd-MM-yyyy' || '-' }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="billColumn; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: billColumn;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="9" style="text-align: center;">No data matching the filter
                            </td>
                        </tr>
                    </table>
                </div>
                <mat-paginator #pagination [length]="NoOfBills" [pageSizeOptions]="[10, 25, 50, 100]"
                    id="billSourcePagination" (page)="getbillSourceData($event)">
                </mat-paginator>
            </div>

            <!-- <app-employees *ngIf="urlNav == 'Employees'"></app-employees>
        <app-waitingforapproval *ngIf="urlNav == 'Waiting for Approval'"></app-waitingforapproval> -->

        </div>
    </div>
</div>

<!-- Hired Candidates Model -->
<div id="CandidateModel" class="modal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center pb-3">
                <h2 class="modal-title m-0">List of Hired Candidates</h2>
                <button (click)="ModelClose('CandidateModel')" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-0">
                <table class="table borderless mb-0">
                    <tbody>
                        <tr class="bg-light">
                            <th>ID</th>
                            <th>Employee Name</th>
                            <th>Job/Role</th>
                            <th>Salary</th>
                            <th>Hired On</th>
                        </tr>
                        <tr *ngFor="let data of showModalData">
                            <td>{{data?.Employee?.UniqueEmpId}}</td>
                            <th>{{data?.Employee?.FullName}}</th>
                            <td>{{data?.Employee?.WorkOrderRole?.role?.name}}</td>
                            <td>{{data?.Employee?.Salary}}</td>
                            <!-- <td>{{data?.Employee?.DateOfJoining | date: 'dd-MM-yyyy'}}</td> -->
                            <td>{{data?.Employee?.HiredOn | date: 'dd-MM-yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<!-- Select Bill Model -->
<div id="SelectBillModel" class="modal" tabindex="-1" role="dialog" style="display: none;">

    <div class="modal-dialog" role="document" style="max-width: 350px;">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title">Select Bill Month-Year</h2>
                <button (click)="ModelClose('SelectBillModel')" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-50">
                <mat-form-field>
                    <input matInput placeholder="datepicker" [formControl]="billMonthControl">
                    <input matInput [matDatepicker]="dp" placeholder="datepicker" style="display: none;">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp (monthSelected)="monthSelected($event, dp)" startView="multi-year">
                    </mat-datepicker>

                    <!-- <mat-error *ngIf="ref.touched && ref.invalid">This field is required.</mat-error> -->

                </mat-form-field>
            </div>

            <div class="modal-footer">
                <button (click)="billGenerate(workorderUrl)" type="button" class="btn btn-primary">Generate</button>
            </div>

        </div>
    </div>
</div>