<div class="dashboard-screen m-4">

    <div class="h5 double-header-title d-flex align-items-center flex-wrap mt-4">
        <a [routerLink]="['/allcandidate/overview']" class="font-weight-bolder">All Candidates</a>
        <a [routerLink]="['/allemployees/overview']" class="font-weight-bolder ml-5">All Employees/Hired</a>
        <a [routerLink]="['/rejectedcandidates/overview']" class="font-weight-bolder ml-5">Rejected Candidates</a>
    </div>

    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
            <div class="counter-box p-3">
                <h6>Hired</h6>
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{DashboardDetail?.Hired || 0}}</h2>
                    <span class="icon"><img alt="total-clients-icon"
                            src="./assets/images/employees-hired-icon.svg"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
            <div class="counter-box p-3">
                <h6>Waiting for Approval</h6>
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{DashboardDetail?.WaitingForApproval || 0}}</h2>
                    <span class="icon"><img alt="total-clients-icon"
                            src="./assets/images/total-requerment-icon.svg"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
            <div class="counter-box p-3">
                <h6>Under GM Approval</h6>
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{DashboardDetail?.UnderGMApproval || 0}}</h2>
                    <span class="icon"><img alt="total-clients-icon" src="./assets/images/vaccines-icon.svg"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
            <div class="counter-box p-3">
                <h6>Under MD Approval</h6>
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{DashboardDetail?.UnderMDApproval || 0}}</h2>
                    <span class="icon"><img alt="total-clients-icon"
                            src="./assets/images/employees-hired-icon.svg"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2" (click)="onGetAllJobReloDetails()">
            <div class="counter-box p-3">
                <h6>Total Vacancies</h6>
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{DashboardDetail?.TotalVacancies || 0}}</h2>
                    <span class="icon"><img alt="total-clients-icon" src="./assets/images/vaccines-icon.svg"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
            <div class="counter-box p-3">
                <h6>Rejected Candidates</h6>
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{DashboardDetail?.RejectedCandidates || 0}}</h2>
                    <span class="icon"><img alt="total-clients-icon" src="./assets/images/vaccines-icon.svg"></span>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2" (click)="onGetAllJobReloDetails()"
            style="cursor: pointer;">
            <div class="counter-box p-3">
                <h6>Total Job-Role Wise Details</h6>
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{DashboardDetail?.TotalVacancies || 0}}</h2>
                    <span class="icon"><img alt="total-clients-icon" src="./assets/images/jobroledetail.svg"></span>
                </div>
            </div>
        </div> -->
    </div>

    <!-- <div class="mt-5 d-flex justify-content-between align-items-center flex-wrap">
        <div class="col-lg-5">
            <h3 class="m-0">List of Candidates <span>({{employeeData?.length}} Candidates)</span></h3>
        </div>
        <div class="col-lg-7"
            style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">

            <mat-form-field style="width: 200px;">
                <mat-label>Search by Name, Client, Emp id, Mobile</mat-label>
                <input (keyup)="SearchFilter(input.value)" matInput placeholder="Search..." #input>
                <input [(ngModel)]="searchText" matInput placeholder="Search..." #input>
            </mat-form-field>

            <button class="form-control btn btn-secondary col-md-2 btn-search" (click)="InitCall()"
                (keyup)="FilterList($event)">Search</button>

            <button id="candidate-btn" class="btn btn-danger"
                [routerLink]="['/allcandidate/overview/employee/add']">CLICK TO
                ADD NEW CANDIDATE</button>
        </div>
    </div> -->


    <div class="mt-5 d-flex justify-content-between align-items-center flex-wrap">
        <div class="col-lg-4" style="margin-bottom: 10px; margin-top: 10px; padding: 0;">
            <h3 class="m-0">List of Candidates <span>({{ ListTotal }} Candidates)</span></h3>
        </div>
        <div class="col-lg-8"
            style="display: flex; justify-content: flex-end; align-items: center; flex-wrap: wrap; padding: 0;">
            <button id="candidate-btn" class="btn btn-danger" [routerLink]="['/allcandidate/overview/employee/add']"
                style="margin-bottom: 10px; margin-top: 10px;">
                CLICK TO ADD NEW CANDIDATE
            </button>
        </div>
    </div>

    <div class="mt-1 d-flex justify-content-between align-items-center flex-wrap">
        <div class="selectbox-top">
            <label class="light-label">DOJ From</label>
            <div class="start-date-picker" style="min-width: 130px !important;">
                <input matInput [(ngModel)]="fromDate" placeholder="From Date" [matDatepicker]="FromPickerDetailed"
                    style="border: none; width: 130px;">
                <mat-datepicker-toggle matSuffix [for]="FromPickerDetailed">
                </mat-datepicker-toggle>
                <mat-datepicker #FromPickerDetailed></mat-datepicker>
            </div>
        </div>

        <div class="selectbox-top">
            <label class="light-label">UpTo</label>
            <div class="start-date-picker" style="min-width: 130px !important;">
                <input matInput [(ngModel)]="toDate" placeholder="To Date" [matDatepicker]="ToPickerDetailed"
                    style="border: none; width: 130px;">
                <mat-datepicker-toggle matSuffix [for]="ToPickerDetailed">
                </mat-datepicker-toggle>
                <mat-datepicker #ToPickerDetailed></mat-datepicker>
            </div>
        </div>

        <div class="selectbox-top">
            <label style="font-size: 12px;">Status</label>
            <div class="start-date-picker" style="min-width: 177px !important; border: none; padding: 0;">
                <mat-select [(ngModel)]="FilterVal" placeholder="Select Status" class="form-control sources disp"
                    style="height: 42px">
                    <mat-option value="">All</mat-option>
                    <mat-option value="Under GM Approval">Under GM</mat-option>
                    <mat-option value="Under MD Approval">Under MD</mat-option>
                    <mat-option value="Rejected">Rejected</mat-option>
                    <mat-option value="Hired">Hired</mat-option>
                </mat-select>
            </div>
        </div>

        <div class="selectbox-top">
            <label style="font-size: 12px;"></label>
            <div class="start-date-picker" style="min-width: 130px !important; border: none;">
                <mat-form-field style="width: 200px; margin: 0px;">
                    <mat-label>Search by Name, Client, Emp id, Mobile</mat-label>
                    <!-- <input (keyup)="SearchFilterWO(input.value)" matInput placeholder="Search..." #input> -->
                    <input [(ngModel)]="searchText" matInput placeholder="Search..." #input>
                </mat-form-field>
            </div>
        </div>

        <div class="selectbox-top">
            <label style="font-size: 12px;"></label>
            <div class="start-date-picker" style="min-width: 130px !important; border: none;">
                <button class="form-control btn btn-secondary btn-search" (click)="InitCall()"
                    (keyup)="FilterList($event)" style="margin: 10px; width: 130px;">Search</button>
            </div>
        </div>
    </div>

    <div class="example-container">
        <div class="table-responsive">
            <table mat-table [dataSource]="employeeDataSource" matSort>

                <ng-container matColumnDef="Sl No">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl.No</th>
                    <td mat-cell *matCellDef="let row; let i=index;" style="white-space: nowrap;">
                        {{ pagination.pageIndex * pagination.pageSize + i + 1 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th style="width: 5%;" mat-header-cell *matHeaderCellDef style="text-align: center !important;">
                        Action</th>
                    <td style="width: 5%;" mat-cell *matCellDef="let row">
                        <div class="actions">
                            <i routerLink="/allcandidate/overview/employee/view/{{row._id}}" class="fas fa-eye view"
                                tooltip="View"></i>
                            <i routerLink="/allcandidate/overview/employee/edit/{{row._id}}" class="fas fa-edit edit"
                                tooltip="Edit"></i>
                            <i (click)="deleteEmployee(row._id)" class="fas fa-trash delete" tooltip="Delete"></i>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="ID">
                    <th style="width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td style="width: 15%;" mat-cell *matCellDef="let row" style="white-space: nowrap;">
                        {{row.UniqueEmpId}}</td>
                </ng-container>

                <ng-container matColumnDef="Candidate Name">
                    <th style="width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header>Candidate Name</th>
                    <td style="width: 15%;" mat-cell *matCellDef="let row">{{ row.FullName }}</td>
                </ng-container>

                <ng-container matColumnDef="Client - Work Order Info">
                    <th style="width: 45%;" mat-header-cell *matHeaderCellDef mat-sort-header>Client - Work Order Info
                    </th>
                    <td style="width: 45%;" mat-cell *matCellDef="let row">
                        <!-- {{ row.WorkOrder?.client?.name }} - ({{ row.WorkOrder?.name }})
                        <br>
                        {{ row.WorkOrderRole?.role?.name }} - (Salary : {{ row.WorkOrderRole?.salary }})
                        <br> -->
                        <!-- GrossSalary : {{ row.GrossSalary }}
                        <br>
                        NetSalary : {{ row.NetSalary }}
                        <br>
                        DeductedSalary : {{ row.DeductedSalary }} -->

                        <table class="avoid-table ad-timelite">
                            <tr>
                                <td matTooltipPosition="left"
                                    style="width: 100% !important; white-space: break-spaces;">
                                    <h4 class="subtitle">Client Name</h4>
                                    <p class="subtitle-head">{{ row.WorkOrder?.client?.name }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td matTooltipPosition="left"
                                    style="width: 100% !important; white-space: break-spaces;">
                                    <h4 class="subtitle">WorkOrder Name</h4>
                                    <p class="subtitle-head">{{ row.WorkOrder?.name }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td matTooltipPosition="left"
                                    style="width: 100% !important; white-space: break-spaces;">
                                    <h4 class="subtitle">WorkOrder Role and Salary</h4>
                                    <p class="subtitle-head">{{ row.WorkOrderRole?.role?.name }} =>
                                        (Salary : <i style="color: #757878;">₹</i> {{ row.WorkOrderRole?.salary }})
                                    </p>
                                </td>
                            </tr>
                            <tr style="width: 100%;" matTooltipPosition="left">
                                <td style="width: 45%;">
                                    <h4>GrossSalary</h4>
                                </td>
                                <td style="width: 10%;">
                                    <h4>:</h4>
                                </td>
                                <td style="width: 45%;">
                                    <p style="text-align: right;"><i style="color: #757878;">₹</i> {{ row.GrossSalary }}
                                    </p>
                                </td>
                            </tr>
                            <tr style="width: 100%;" matTooltip="Sand Cost CGST" matTooltipPosition="left">
                                <td style="width: 45%;">
                                    <h4>NetSalary</h4>
                                </td>
                                <td style="width: 10%;">
                                    <h4>:</h4>
                                </td>
                                <td style="width: 45%;">
                                    <p style="text-align: right;"><i style="color: #757878;">₹</i> {{ row.NetSalary }}
                                    </p>
                                </td>
                            </tr>
                            <tr style="width: 100%;" matTooltip="Sand Cost SGST" matTooltipPosition="left">
                                <td style="width: 45%;">
                                    <h4>DeductedSalary</h4>
                                </td>
                                <td style="width: 10%;">
                                    <h4>:</h4>
                                </td>
                                <td style="width: 45%;">
                                    <p style="text-align: right;"><i style="color: #757878;">₹</i> {{ row.DeductedSalary
                                        }}</p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                    <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td style="width: 10%;" mat-cell *matCellDef="let row">{{ row.Status }}</td>
                </ng-container>

                <ng-container matColumnDef="Last Updated On">
                    <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Joining</th>
                    <td style="width: 10%;" mat-cell *matCellDef="let row">{{ row.DateOfJoining | date: 'dd-MMM-yyyy' }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="employeeColumn; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: employeeColumn;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9" style="text-align: center;">No data matching the filter</td>
                </tr>
            </table>
        </div>

        <mat-paginator #pagination [length]="ListTotal" [pageSizeOptions]="[10, 25, 50, 100]" id="tblstyPagination"
            (page)="getServerData($event)">
        </mat-paginator>
    </div>

</div>