<div>
  <!-- <span>Choose file</span> -->
  <!-- <span>{{file ? file.name : 'Choose file or drag and drop file here' }}</span>
  <input class="file-input" type="file"> -->
 <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLangHTML">
                    <label class="custom-file-label" for="customFileLangHTML" data-browse="Browse">{{file ? file.name : 'Choose file or drag and drop file here' }}</label>
 </div>
</div>

<!-- <app-progress [progress]="progress"></app-progress> -->