<section class="login-wrapper">
  <div class="logo-app-name-holder">
    <div class="app-name-box">
      <h2>Spoorthy</h2>
      <p>admin portal</p>
    </div>
    <img src="./assets/img/UIimages/SpoorthyImages/Spoorthy.png" class="img-fluid" />
    <h1>Spoorthy HRMS <br>Spoorthy Integrated Solutions (I) Pvt. Ltd</h1>
  </div>
  <div class="login-form-holder">
    <img width="100px" height="100px" src="./assets/img/UIimages/SpoorthyImages/Spoorthy_HRMS.png"
      class="img-fluid mob-logo m-auto" />
    <h2>admin Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" formControlName="UserName">
        <div class="text-danger"
          *ngIf="(loginForm.controls['UserName'].touched || loginForm.controls['UserName'].dirty) && loginForm.controls['UserName'].errors?.required">
          User name is required.
        </div>
        <div class="text-danger"
          *ngIf="(loginForm.controls['UserName'].touched || loginForm.controls['UserName'].dirty) && loginForm.controls['UserName'].errors?.pattern">
          User name is not valid.
        </div>
      </div>
      <div class="form-group m-b-0">

        <div style="width: 100%; position: relative;">
          <i class="fas fa-eye" id="togglePassword"
            style="cursor: pointer; position: absolute; right: 15px; top: 30%;"></i>

          <input type="password" class="form-control" placeholder="Enter Password" matInput formControlName="Password"
            autocomplete="off" (paste)="onPaste($event)" minlength="3" maxlength="12" id="id_password" required>
        </div>

        <!-- <input type="password" class="form-control" placeholder="Password" formControlName="Password"> -->

        <div class="text-danger"
          *ngIf="(loginForm.controls['Password'].touched || loginForm.controls['Password'].dirty) && loginForm.controls['Password'].errors?.required">
          Password is required.
        </div>
      </div>
      <p (click)="OpenModel()">Forgot Password?</p>
      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</section>

<!-- Modal -->
<div class="modal fade show" *ngIf="IsPopUp" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;background: #80808099;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="ForgotForm" (ngSubmit)="Submit()">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Forgot Password</h3>
          <button type="button" class="close" aria-label="Close" (click)="closeModel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="UserName" class="form-control" formControlName="UserName" />
          <div class="text-danger"
            *ngIf="(ForgotForm.controls['UserName'].touched || ForgotForm.controls['UserName'].dirty) && ForgotForm.controls['UserName'].errors?.required">
            User name is required.
          </div>
          <div class="text-danger"
            *ngIf="(ForgotForm.controls['UserName'].touched || ForgotForm.controls['UserName'].dirty) && ForgotForm.controls['UserName'].errors?.pattern">
            User name is not valid.
          </div>
          <input type="email" placeholder="Email" class="form-control mt-3" formControlName="Email" />
          <div class="text-danger"
            *ngIf="(ForgotForm.controls['Email'].touched || ForgotForm.controls['Email'].dirty) && ForgotForm.controls['Email'].errors?.required">
            Email is required.
          </div>
          <div class="text-danger"
            *ngIf="(ForgotForm.controls['Email'].touched || ForgotForm.controls['Email'].dirty) && ForgotForm.controls['Email'].errors?.pattern">
            Email is not valid.
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="closeModel()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>