/* You can add global styles to this file, and also import other style files */

@import 'assets/css/bootstrap.min.css';
@import 'assets/css/slick.css';
@import 'assets/css/style.css';

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
    line-height: 1.5 !important
}


.form-err {
    margin: -5px 5px 0;
    font-size: 75%;
    padding: 3px 0px 4px;
    text-align: left;
    position: relative;
    bottom: 0px;
    margin-top: 3.5px;
    margin-left: -0.15px;

    span {
        font-size: 10px;
        color: #d31e2d;
    }
}

.form-err-extented {
    margin-top: -7px;

    span {
        font-size: 10px;
        color: #d31e2d;
    }
}

.cdk-overlay-container {
  z-index: 9999 !important;
}