#date-color{
    color: rgb(255, 55, 55);
}

#paid-td{
    width: 100%;
    padding: 0;
}

#paid-badge{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fa-edit{
    color: #e5905f;
}

#invoice-display{
    border-radius: 5px 5px 0 0;
    background: lightgray;
    height: 500px;
    overflow: auto;
}

.fa-paper-plane, .fa-download{
    color: crimson;
}

#img-screen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px 20px;
}

.bill-btn-option{
    background: crimson;
    width: 100%;
    height: 60px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-light{
    margin-left: auto;
}

.download-bill{
    margin: 0 10px 0 10px;
}

.bill-tab-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//Model
.modal{
    background: #eceaea80 !important;
}

.modal-dialog {
	margin-top: 6%;
	width: 40%;
}