.download {
    padding-top: 19px;
    color: blue;
}

.fa-download {
    color: blue;
}

//Model
.modal {
    background: #eceaea80 !important;
}

.modal-header {
    padding-bottom: 0;
}

.modal-dialog {
    margin-top: 6%;
}

.borderless td,
.borderless th {
    border: none;
    text-align: center;
}

.modal-body {
    overflow: auto;
    max-height: 500px;
    font-size: 15px;
}

.round-box {
    width: fit-content;
    background: #293955;
    border-radius: 40px;
    font-size: 12px;
    color: white;
    margin: 0 auto;
    padding: 5px 15px;
}

.blink_me {
    animation: blinker 1.5s linear infinite;

    &:hover {
        animation: none;
    }
}

@keyframes blinker {
    50% {
        opacity: 0.075;
    }
}

#workorder-btn {
    display: block;
    width: 295px;
    height: min-content;
}

.btn-info {
    width: 240px;
}

.fa-download {
    color: blue;
}