table {
    // display: block;
    overflow-x: auto;
    white-space: nowrap;
    // background-color: rgb(246, 246, 253);
    margin-top: 5px;
    padding: 0;
    box-shadow: 1px 1px 2px 1.5px rgba(167, 174, 180, 0.425);

    thead {
        width: 100%;
        background: transparent;
        color: #181522;

        tr {
            th {
                font-size: 12px;
                font-weight: 500;
                padding: 8px !important;
                border-top: 0 !important;
            }
        }
    }

    tbody {
        width: 100%;

        &.v-align {
            tr {
                td {
                    vertical-align: middle;
                }
            }
        }

        tr {
            td {
                text-transform: capitalize;
                font-size: 12px;
                padding: 6px 10px !important;

                .actions i {
                    cursor: pointer;
                }
            }
        }
    }
}

.avoid-table {
    box-shadow: none;
}

.avoid-table tr td {
    text-transform: capitalize;
    padding: 1px 1px !important;
}

.ad-timelite tr td h4 {
    text-align: left;
    font-size: 14px;
    color: #090a0a;
    margin: 0;
    // line-height: 10px;
}

.ad-timelite tr td p {
    text-align: left;
    font-weight: 500 !important;
    color: #090a0a;
    margin: 0 0 2px;
    // line-height: 16px;
    font-size: 14px;
}

.subtitle {
    text-align: left !important;
    font-size: 9.5px !important;
    color: #858789 !important;
    margin: 0 !important;
    line-height: 10px !important;
}

.subtitle-head {
    text-align: left !important;
    font-weight: 500!important;
    color: #090a0a !important;
    margin: 0 0 2px !important;
    line-height: 16px !important;
}