ul {
    list-style: none;
    margin: 0;
    padding: 30px 0;
    &.payment-details {
        @extend %disFlex;
        justify-content: space-between;
        @include smdevice {
            flex-direction: column;
        }
        li {
            flex-basis: 22%;
            background: $agent-color-1;
            -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.18);
            -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.18);
            box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.18);
            @include border-radius(5px);
            padding: 15px;
            position: relative;
            @include smdevice {
                width: 100%;
                margin-bottom: 35px;
            }
            &:last-child {
                @include smdevice {
                    margin: 0;
                }
            } 
            &.total {
                span.badge {
                    background: $warning-color;
                }
            }
            &.paid {
                span.badge {
                    background: $success-color;
                }
            }
            &.pending {
                span.badge {
                    background: $danger-color;
                }
            }
            &.last-payment {
                @extend %disFlex;
                align-items: center;
                justify-content: flex-end;
                .align-center {
                    width: 100%;
                }
                span.badge {
                    background: $info-color;
                }
            }
            span.badge {
                width: 60px;
                height: 60px;
                @extend %disFlex;
                justify-content: center;
                align-items: center;
                background: #000;
                -webkit-box-shadow: 0px 2px 11px 4px rgba(0,0,0,0.21);
                -moz-box-shadow: 0px 2px 11px 4px rgba(0,0,0,0.21);
                box-shadow: 0px 2px 11px 4px rgba(0,0,0,0.21);
                @include positioning(absolute, $left: 20px, $top: -20px);
                @include border-radius(5px);
                @include smdevice {
                    width: 40px;
                    height: 40px;
                }
                i {
                    color: $agent-color-1;
                    font-size: fontSize(8px);
                    @include smdevice {
                        font-size: 18px;
                    }
                }
            }
            .info {
                @extend %disFlex;
                flex-direction: column;
                align-items: flex-end;
                h4 {
                    font-size: fontSize(-2px);
                    text-align: right;
                    text-transform: capitalize;
                    color: $agent-color-5;
                    margin: 0;
                }
                p {
                    margin: 0;
                    font-size: fontSize(10px);
                    font-weight: fontWeight(0);
                    color: lighten($agent-color-5, 10%);
                    @include smdevice {
                        font-size: 20px;
                    }
                }
            }
            .amount {
                p {
                    @extend %disFlex;
                    justify-content: space-between;
                    margin: 0;
                }
            }
        }
    }
}

.chart-table-holder {
    .header {
        background: $primary-color;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 12px;
        h3 {
            font-size: fontSize(0);
            text-transform: capitalize;
            margin: 0;
            font-weight: fontWeight(300);
            color: $agent-color-1;
        }
    }
    .chart-holder {
        background: $agent-color-1;
        -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.18);
        box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.18);
        @include border-radius(5px);
        margin-bottom: 15px;
        canvas {
            height: 300px !important;
        }
    }
    .table-holder {
        height: 330px;
        overflow-y: auto;
        background: $agent-color-1;
        -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.18);
        box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.18);
        @include border-radius(5px);
        .mCSB_inside > .mCSB_container {
            margin-right: 0;
        }
        table {
            thead {
                background: $primary-color;
                th {
                    font-size: 15px;
                }
            }
            tbody {
                tr {
                    td {
                        &.paid {
                            color: $success-color;
                            font-weight: fontWeight(200);
                        }
                        &.not-paid {
                            color: $warning-color;
                            font-weight: fontWeight(200);
                        }
                    }
                }
            }
        }
    }
}