@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/** font-family: 'Roboto', sans-serif; **/

/** font-family: 'Source Sans Pro', sans-serif; **/


.dashboard-page-breadcrumb li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #918A8A;
  position: relative;
  padding-right: 12px;
  padding-top: 10px;
  margin-right: 12px;
  cursor: pointer;
}

.dashboard-page-breadcrumb li a:before {
  position: absolute;
  right: -7px;
  top: 50%;
  content: ">";
  transform: translate(-50%, -18%);
}

.dashboard-page-breadcrumb li:last-child a:before {
  display: none;
}

.dashboard-page-breadcrumb {
  display: flex;
  align-items: center;
  /* padding-top: 10px;
  padding-bottom: 3px; */
  flex-wrap: wrap;
  padding-left: 3px;
}

.manage-h1 {
  margin: 0px 0 0 !important;
}



body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  background: #F0F0F0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover,
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

.btn.focus,
.btn:focus,
.form-control:focus,
.slick-slide:focus {
  outline: none;
  box-shadow: none;
}

.center {
  text-align: center;
}

p {
  color: #838383;
  font-size: 12px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1610px;
}

.border-none {
  border: none !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}

img {
  max-width: 100%;
}

.white-box {
  background: #fff;
  height: 100%;
  padding: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.right-pannel-dashbaord {
  padding-left: 149px;
  padding-top: 20px;
  padding-bottom: 20px;
}

::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ADADAD;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ADADAD;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ADADAD;
}


/****************Selectbox-Style Start*********************/

/** Custom Select **/

.custom-select {
  border-radius: 200px;
}

.selectbox-top {
  width: 100%;
  max-width: 250px;
  border-radius: 200px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%;
  border-radius: 200px;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
  height: auto;
}

.custom-select-trigger {
  position: relative;
  display: block;
  padding: 0 53px 0 50px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #308DC1;
  border-radius: 44px;
  cursor: pointer;
  text-align: center;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 99;
}

.custom-select {
  padding: 0;
  border: none;
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}

.option-hover:before {
  background: #f9f9f9;
}

.mineral-summary-table {
  overflow: auto;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 10px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 12px;
  font-weight: 500;
  color: #37474f;
  line-height: 25px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}

.custom-select-trigger {
  line-height: 18px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/**********************Selectbox-style-end*****************/
table {
  width: 100%;
}

.show-list label,
.filter-searchbox-div label {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #838383;
  white-space: nowrap;
}

.list-view-tracking-form-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
}

.filter-searchbox-div ul {
  display: flex;
  align-items: center;
}

.show-list .simple-styled-selectbox .custom-select-trigger:after {
  width: 7px;
  height: 7px;
  right: 8px;
  border-bottom: 1.6px solid #838383;
  border-right: 1.6px solid #838383;
}

.show-list .simple-styled-selectbox .custom-select-trigger {
  padding: 5px 26px 5px 5px;
  border-radius: 0;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #838383;
  height: 28px;
  min-height: auto;
  min-width: auto;
}

.show-list .simple-styled-selectbox .custom-select.sources {
  height: auto;
}

.show-list .simple-styled-selectbox .custom-option {
  padding: 0 5px;
  font-size: 12px;
  line-height: 28px;
}

.show-list .simple-styled-selectbox .custom-options {
  margin: 5px 0;
}

.show-list .simple-styled-selectbox .custom-options:before {
  right: 9px;
}

.simple-styled-selectbox {
  padding: 0px;
}

.simple-styled-selectbox .custom-select-trigger {
  background: transparent;
  border: 1px solid #CFCFCF;
  border-radius: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #2A326C;
  height: 30px;
  padding: 10px 30px 10px 10px;
  max-width: 100%;
  min-width: 125px;
  white-space: nowrap;
}

.filter-searchbox-div .form-control {
  height: 30px;
  border: none;
  border-bottom: 1px solid #ADADAD;
  border-radius: 0;
  min-width: 250px;
  padding: 0;
}

.filter-searchbox-div .form-inline {
  position: relative;
}

.filter-searchbox-div .btn-outline-success {
  background: #ffff;
  border: none;
  position: absolute;
  right: 5px;
  top: -4px;
  height: 33px;
  padding: 0;
}

.filter-searchbox-div .custom-select-trigger:after {
  width: 12px;
  height: 12px;
  right: 10px;
  border-bottom: none;
  border-right: none;
  transform: rotate(0deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
  background: #fff url('../images/filter-icon.svg') no-repeat scroll center / cover;
  margin-top: 0;
}

.filter-searchbox-div .custom-select.opened .custom-select-trigger:after {
  margin-top: 0;
  transform: rotate(0deg) translateY(-50%);
}








.live-tracking-list-table th {
  background: #F0F0F0;
  border-width: 0.5px 0px;
  border-style: solid;
  border-color: #4D4C4A;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #2A326C;
  border-left: 0.5px solid #CFCFCF;
  border-right: 0.5px solid #CFCFCF;
  padding: 20px 26px;
  /* white-space: nowrap; */
  text-align: center;
}

.live-tracking-list-table th:nth-child(1),
.live-tracking-list-table td:nth-child(1) {
  width: 70px;
  max-width: 70px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: none;
}

.live-tracking-list-table th:last-child,
.live-tracking-list-table td:last-child {
  border-right: none;
}

.live-tracking-list-table td {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #403D39;
  border-left: 0.5px solid #CFCFCF;
  padding: 15px 26px;
  border-bottom: 0.5px solid #CFCFCF;
  text-align: center;
}

.live-tracking-list-table td:first-child {
  border-left: none;
  text-align: center;
}


.live-tracking-list-table .assest-detail h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: left;
  align-self: center;
}

.live-tracking-list-table .assest-detail .status {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #1AAE88;
  display: flex;
  margin: 4px 0 7px;
  align-self: center;
}

.live-tracking-list-table .assest-detail .in-active {
  color: #838383;
}

.live-tracking-list-table .work-now-status {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #EB2828;
  background: #FFFFFF;
  border: 0.5px solid #EB2828;
  border-radius: 5px;
  padding: 2px 12px;
  display: inline-block;
  white-space: nowrap;
  min-width: 110px;
  align-self: center;
  width: 100%;
}

.live-tracking-list-table .work-now-status.idle {
  border-color: #DFBC05;
  color: #DFBC05;
}

.live-tracking-list-table .work-now-status.running {
  border-color: #1AAE88;
  color: #1AAE88;
}

.live-tracking-list-table .assest-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.live-tracking-list-table .last-comunicate-info h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* display: flex; */
  align-items: center;
  color: #403D39;
}

.live-tracking-list-table .last-comunicate-info .status {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: block;
  align-items: center;
  color: #403D39;
  margin: 7px 0 9px;
}

.live-tracking-list-table .last-comunicate-info .communicate {
  background: #1AAE88;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 3px 12px;
  min-width: 120px;
  display: inline-block;
  width: 100%;
}

.live-tracking-list-table .last-comunicate-info .not-communicate {
  background: #EB2828;
}

.live-tracking-list-table .locate-in-map-latitute p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #403D39;
  white-space: nowrap;
}

.live-tracking-list-table .locate-in-map-latitute {
  text-align: center;
}

.live-tracking-list-table .locate-in-map-latitute .blue-map-icon {
  margin-bottom: 8px;
  display: inline-block;
}

.live-tracking-list-table .device-data-data-status {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 5px;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.live-tracking-list-table .device-data-data-status ul {
  display: flex;
  justify-content: center;
  min-width: 200px;
}

.live-tracking-list-table .gray-background .device-status {
  background: #CFCFCF;
}

.live-tracking-list-table .device-data-data-status h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #403D39;
  padding: 8px 10px;
  white-space: nowrap;
}

.live-tracking-list-table .device-data-data-status ul li {
  width: 50%;
}

.live-tracking-list-table .device-data-data-status li span {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #403D39;
  padding-left: 2px;
}

.live-tracking-list-table .device-status {
  background: #2A326C;
}

.live-tracking-list-table .device-data-data-status .device-status h5,
.live-tracking-list-table .device-data-data-status .device-status span {
  color: #fff;
}

.live-tracking-list-table .device-detail ul {
  display: flex;
  flex-direction: column;
}

.live-tracking-list-table .device-detail .device-data label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  font-variant: small-caps;
  color: #838383;
  margin: 0;
  width: 36px;
}

.live-tracking-list-table .device-detail ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.live-tracking-list-table .device-detail .device-data h6 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #403D39;
  white-space: nowrap;
}

.live-tracking-list-table .other-driver-detail ul {
  display: flex;
  flex-direction: column;
}

.live-tracking-list-table .other-driver-detail ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.live-tracking-list-table .other-driver-detail label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  text-align: center;
  color: #838383;
  margin: 0;
  text-transform: uppercase;
  top: 1px;
  position: relative;
}

.live-tracking-list-table .other-driver-detail h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #403D39;
  padding: 7px 12px;
}

.live-tracking-list-table .other-driver-detail .device-data a {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #403D39;
  padding: 1px 10px 1px 6px;
  max-width: 110px;
}

.live-tracking-list-table .other-driver-detail .device-data a img {
  min-width: 12px;
  margin-right: 6px;
}

/* .live-tracking-list-table-cover {
  overflow-x: auto;
} */






.mineral-action-detail {
  display: flex;
  margin: 0 -15px;
}

.mineral-action-detail li {
  padding: 10px 8px;
}

.mineral-action-detail img {
  min-width: 30px;
  min-height: 30px;
}

.mineral-block-info h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
  justify-content: center;
}

.mineral-block-info .id-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #403D39;
  margin-top: 7px;
  margin-bottom: 7px;
  justify-content: center;
}

.mineral-block-info .river-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1D89CF;
  justify-content: center;
}

.mineral-detail .object-thing {
  background: #EB5E28;
  border-radius: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 14px;
  display: inline-block;
  margin-bottom: 8px;
  width: 100%;
  text-transform: uppercase;
}

.mineral-detail ul {
  display: flex;
  padding-top: 4px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mineral-detail li h6 {
  white-space: nowrap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #403D39;
  /* padding-right: 8px; */
}

.mineral-detail ul .ec-button-div {
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mineral-detail ul li .eye-view-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #403D39;
}

.mineral-detail ul li a .eye-view-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #403D39;
}

.mineral-detail ul li .icon img {
  min-width: 15px;
  margin-left: 5px;
}

.mineral-detail ul li a .icon img {
  min-width: 15px;
  margin-left: 5px;
}

.land-detail-box h6 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #12131A;
}

.land-detail-box a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #403D39;
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.land-detail-box p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #403D39;
  flex-wrap: wrap;
  justify-content: center;
}

.land-detail-box .survey-number {
  background: #2A326C;
  border-radius: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 2px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
}

.lesse-detail label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #403D39;
}

.lesse-detail a {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #403D39;
  padding: 1px 5px;
}

.lesse-detail a .icon img {
  min-width: 12px;
  margin-left: 2px;
  margin-right: 7px;
}

.map-view-btn-box a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1AAE88;
  flex-direction: column;
}

.map-view-btn-box a label {
  margin-top: 4px;
  margin-bottom: 0px;
}

.map-view-btn-box.not-updated label {
  color: #CFCFCF;
  white-space: nowrap;
  margin-bottom: 0px;
}

.map-view-btn-box.not-updated img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.4;
}

.stock-yard-info .id-name {
  margin-top: 0;
  margin-bottom: 0;
}

.stock-yard-info .river-name {
  margin: 6px 0;
}

.lease-detail ul {
  display: flex;
  margin: -10px -14px;
  justify-content: center;
}

.lease-detail li label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #838383;
  margin-bottom: 0;
}

.lease-detail li .date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  color: #403D39;
  padding: 6px 0;
}

.see-view-btn {
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
}

.see-view-btn .eye-view-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #403D39;
}

.see-view-btn .icon img {
  min-width: 15px;
  margin-left: 5px;
}

.lease-detail ul li {
  padding: 10px 14px;
}

.live-tracking-list-table .adjusted-width-land-detail {
  padding-left: 10px;
  padding-right: 10px;
}

.rc-permit-checklist-btn-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: -8px -12px;
}

.rc-permit-checklist-btn-list ul li {
  width: 50%;
  padding: 3px 10px;
}

.rc-permit-checklist-btn-list ul li .see-view-btn {
  width: 100%;
  min-width: 100px;
  justify-content: space-between;
}

.assests-detail-form .live-tracking-list-table td,
.assests-detail-form .live-tracking-list-table th {
  padding: 15px 20px;
}

.assests-detail-form .validate-status.validate {
  background: #52B822;
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 3px 19px;
  margin-top: 4px;
  min-width: 65px;
  text-align: center;
}

.assests-detail-form .validate-status.expired {
  background: #EB2828;
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 3px 4px;
  margin-top: 4px;
  min-width: 65px;
  text-align: center;
}

.assests-detail-form .mineral-block-info h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
  white-space: nowrap;
}

.assests-detail-form .weight-in-ton {
  background: #FFFFFF;
  border: 1px solid #1D89CF;
  border-radius: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #1D89CF;
  padding: 1px 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  justify-content: center;
}

.assests-detail-form .id-name {
  /* margin-right: 8px; */
  margin-top: 8px;
  margin-bottom: 8px;
}










































































@media only screen and (max-width:1460px) {

  .live-tracking-list-table td,
  .live-tracking-list-table th {
    padding: 15px 18px;
  }

  .rc-permit-checklist-btn-list ul li {
    width: 100%;
  }
}


@media only screen and (max-width:1370px) {

  .live-tracking-list-table td,
  .live-tracking-list-table th {
    padding: 15px 12px !important;
  }

  .live-tracking-list-table .device-data-data-status ul {
    min-width: 170px;
  }

  .live-tracking-list-table .work-now-status,
  .live-tracking-list-table .last-comunicate-info .communicate {
    min-width: auto;
  }

  /* .live-tracking-list-table .other-driver-detail ul li {
    flex-wrap: wrap;
  justify-content: center;
  } */

  .live-tracking-list-table .other-driver-detail .device-data a {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .mineral-action-detail {
    margin: 0 0;
    justify-content: center;
  }

  .lease-detail ul li {
    padding: 0 6px;
  }

  .lease-detail ul {
    margin: 0 -6px;
  }
}


@media only screen and (max-width:1230px) {
  .lease-detail ul {
    margin: -14px -6px;
    flex-wrap: wrap;
  }

  .lease-detail ul li {
    padding: 4px 6px;
    width: 100%;
  }

  .see-view-btn {
    justify-content: center;
  }


}





@media only screen and (max-width:1185px) {

  /******************************* Expiry-mental-CSS Start *****************************/
  #DataTables_Table_0_wrapper>.row:first-child,
  #DataTables_Table_0_wrapper>.row:last-child {
    display: none;
  }

  .dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:before,
  .dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    display: none !important;
    content: "";
  }

  .live-tracking-list-table-cover .sorting_asc,
  .live-tracking-list-table-cover .sorting_1 {
    width: 40px !important;
    max-width: 30px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  body .dataTable {
    width: 100% !important;
    margin-top: 0 !important;
  }

  .live-tracking-list-table .device-data-data-status {
    max-width: 100%;
    min-width: 170px;
  }

  .live-tracking-list-table .dtr-title {
    background: #F0F0F0;
    border-width: 0.5px 0px;
    border-style: solid;
    border-color: #4D4C4A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #2A326C;
    border-left: none;
    border-right: none;
    padding: 20px 26px;
    white-space: nowrap;
    width: 100%;
  }

  .live-tracking-list-table .dtr-details {
    width: 100%;
  }

  .live-tracking-list-table .child {
    padding: 0 !important;
  }

  .live-tracking-list-table .dtr-data .other-driver-detail,
  .live-tracking-list-table .dtr-data .device-detail {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .live-tracking-list-table .dtr-details li {
    padding: 0 !important;
  }

  .live-tracking-list-table .dtr-data .locate-in-map-latitute {
    padding: 13px;
  }

  .live-tracking-list-table .dtr-data .device-data-data-status {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .live-tracking-list-table .dtr-data .last-comunicate-info {
    padding: 12px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .live-tracking-list-table .dtr-data .other-driver-detail ul li {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-bottom:1px dashed #bdbdbd;
    padding-bottom: 12px !important;
  } */
  .live-tracking-list-table .dtr-data .other-driver-detail ul li:last-child {
    border-bottom: none !important;
  }

  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    left: 17px !important;
  }

  .land-detail-box {
    width: 300px;
  }

  .live-tracking-list-table .dtr-data .map-view-btn-box label {
    margin-bottom: 0;
  }


  .live-tracking-list-table .dtr-data .map-view-btn-box {
    padding: 10px;
  }

  .live-tracking-list-table .dtr-data .lesse-detail {
    padding: 10px;
  }

  .live-tracking-list-table .dtr-data .lesse-detail a {
    display: inline-block;
  }

  .live-tracking-list-table .dtr-data .land-detail-box {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .live-tracking-list-table .dtr-data .mineral-detail ul {
    max-width: 190px;
    margin: 0 auto;
    justify-content: center;
  }

  .live-tracking-list-table .dtr-data .mineral-detail {
    padding: 10px;
  }

  .live-tracking-list-table .dtr-data .mineral-detail ul li:last-child {
    min-width: 50px;
    justify-content: center;
  }

  .live-tracking-list-table .dtr-data .mineral-block-info {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .lease-detail ul li {
    width: 50%;
  }

  .mineral-detail li h6 {
    white-space: normal;
  }

  .lease-detail ul li {
    width: auto;
    flex-grow: 1;
  }

  .live-tracking-list-table .dtr-data .lease-detail ul {
    margin: 0px;
    flex-wrap: wrap;
  }

  .live-tracking-list-table .dtr-data .lease-detail {
    padding: 10px;
  }

  .live-tracking-list-table .dtr-data .lease-detail ul li {
    width: 50%;
    flex-grow: inherit;
    padding: 0 10px !important;
  }

  .live-tracking-list-table .dtr-data .rc-permit-checklist-btn-list ul {
    max-width: 210px;
    margin: -6px auto;
  }

  .live-tracking-list-table .dtr-data .rc-permit-checklist-btn-list {
    padding: 16px 16px;
  }

  .live-tracking-list-table .other-driver-detail ul li {
    flex-wrap: inherit;
  }

  .live-tracking-list-table th {
    white-space: nowrap;
    word-break: break-all;
  }

  /******************************* Expiry-mental-CSS End ******************************/

}




@media only screen and (max-width:1100px) {

  .filter-searchbox-div ul li {
    flex-grow: 1;
  }

  .list-view-tracking-form-cover {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .filter-searchbox-div {
    width: 100%;
  }

  .filter-searchbox-div ul {
    width: 100%;
  }

  .selectbox-top {
    max-width: 100%;
  }

  .filter-searchbox-div ul li:first-child {
    flex-grow: inherit;
  }

  .filter-searchbox-div ul li:last-child {
    width: 100%;
  }

  .filter-searchbox-div .form-control {
    min-width: 200px;
    width: 100%;
  }

  .filter-searchbox-div ul {
    width: 100%;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width:480px) {

  .right-pannel-dashbaord {
    padding-left: 70px;
  }

}

:host ::ng-deep .mat-select-trigger {
  margin-top: 8px
}