.radio {
    margin: 0 5px;
    cursor: pointer;
    @include positioning(relative, $top: 2px);
    @extend %disFlex;
    input {
        width: 0;
        height: 0;
        opacity: 0;
        &:checked {
            &+span {
                &.check {
                    &:before {
                        opacity: 1;
                        @include transitions(all, 0.2s, ease-in-out);
                    }
                }
            }
        }
    }
    span {
        &.check {
            width: 20px;
            height: 20px;
            display: inline-block;
            position: relative;
            border: 1px solid #4A85C5;
            @include border-radius(10px);
            @include transitions(all, 0.2s, ease-in-out);
            &:before {
                content: "";
                width: 12px;
                height: 12px;
                background: #242E42;
                opacity: 0;
                @include border-radius(6px);
                @include positioning(absolute, $top: 50%, $left: 50%);
                @include translate(-50%, -50%, 0);
                @include transitions(all, 0.2s, ease-in-out);
            }
        }
    }
}