<div class="add-vehicle-wrap">
  <div class="row">
    <form [formGroup]="payScaleForm" (ngSubmit)="onAddPayScale()" style="width: 100%;">
      <div class="row mb-3">
        <h4>Pay Scale Fixation</h4>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="required" for="WorkOrder">CLIENT - WORK ORDER</label>
            <select id="WorkOrder" formControlName="WorkOrder" class="form-control"
              (ngModelChange)="filterWorkOrderRole(this.payScaleForm.get('WorkOrder')?.value)">
              <option value="" disabled selected style="color: red;">
                Select Client-Workorder
              </option>
              <option *ngFor="let data of Workorder" [value]="data._id">
                {{data?.client?.name}} - {{data?.name}}
              </option>
            </select>
            <div class="text-danger"
              *ngIf="(payScaleForm.controls['WorkOrder'].touched || payScaleForm.controls['WorkOrder'].dirty) && payScaleForm.controls['WorkOrder'].errors?.required">
              Workorder is required.
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label class="required" for="WorkOrderRole">Select JOB/ROLE/POSITION</label>
            <select id="WorkOrderRole" formControlName="WorkOrderRole" class="form-control"
              (ngModelChange)="filterWorkLocation(this.payScaleForm.get('WorkOrderRole')?.value)">
              <option value="" disabled selected style="color: red;">Select
                Job/Role/Position</option>
              <option *ngFor="let data of WorkOrderRole" [value]="data._id">
                {{data?.role?.name}} - {{ data?.branchName }}</option>
            </select>
            <div class="text-danger"
              *ngIf="(payScaleForm.controls['WorkOrderRole'].touched || payScaleForm.controls['WorkOrderRole'].dirty) && payScaleForm.controls['WorkOrderRole'].errors?.required">
              Job/Role/Position is required.
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label>Location</label>
            <div readonly class="form-control">{{ WOLocation }}</div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label>Work Order Salary</label>
            <div readonly class="form-control">{{ WOSalary }}</div>
          </div>
        </div>

      </div>

      <div class="row" style="padding: 0px">
        <div class="col-lg-4">
          <div class="form-group" style="background: #e0ecf3; display: flex; padding: 10px;">
            <div class="ESI-label">
              ESI based On:
            </div>

            <div class="ESI-disp">
              <div class="ESI-type">
                <a>
                  <input type="checkbox" name="Product" #product [checked]="selectedESIBased === 'BASICVDA'"
                    (change)="selectESIBasedOn('BASICVDA', $event)" />
                  <span>Basic+VDA</span>
                </a>
              </div>
              <div class="ESI-type">
                <a>
                  <input type="checkbox" name="Product" #product [checked]="selectedESIBased === 'NETSAL'"
                    (change)="selectESIBasedOn('NETSAL', $event)" />
                  <span>NetSal</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="form-group">
            <label class="required" for="Salary">Gross Salary (Fixed Wages)</label>
            <div readonly class="form-control" (change)="setNetAmount()">{{ payScaleForm.value.GrossSalary }}</div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="required" for="DeductedSalary">Deductions (IN RUPPEES)</label>
            <div readonly class="form-control" (change)="setNetAmount()">{{ payScaleForm.value.DeductedSalary }}</div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label class="required" for="NetSalary">Take Home (Net/Earned Wages)</label>
            <div readonly class="form-control">{{ payScaleForm.value.NetSalary }}</div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 sal-design">
          <div style="margin: 20px auto;">

            <label for="salaryData">Net Salary</label>
            <mat-form-field>
              <mat-select [(ngModel)]="selectedValue" name="values" multiple formControlName="benefitType"
                id="benefitType">
                <ng-container *ngFor="let data of salaryData">
                  <mat-option [value]="data.name"
                    *ngIf="['PF Amount', 'ESI Amount', 'Professional Tax', 'Advance', 'Uniform', 'Fines/Damages', 'Other Deduction'].indexOf(data.name) === -1">
                    {{data.name}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <div class="text-danger"
              *ngIf="payScaleForm.controls.benefitType.hasError('required') && (payScaleForm.controls.benefitType.dirty || payScaleForm.controls.benefitType.touched)">
              benefit Type is <strong>Required</strong>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('Basic+VDA') !== -1)">
              <label for="BasicVDA">Basic+VDA</label>
              <input type="text" (change)="findGrossTotal()" (keyup)="calculateAmount($event)" name="sal-gross-input"
                class="form-control" id="BasicVDA" aria-describedby="BasicVDA" placeholder="Enter BasicVDA"
                formControlName="BasicVDA">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['BasicVDA'].touched || payScaleForm.controls['BasicVDA'].dirty) && payScaleForm.controls['BasicVDA'].errors?.pattern">
                Basic+VDA is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('Gratuity') !== -1)">
              <label for="Gratuity">Gratuity</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control" id="Gratuity"
                aria-describedby="Gratuity" placeholder="Enter Gratuity" formControlName="Gratuity">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['Gratuity'].touched || payScaleForm.controls['Gratuity'].dirty) && payScaleForm.controls['Gratuity'].errors?.pattern">
                Gratuity is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('Medical Allowance') !== -1)">
              <label for="MedicalAllowance">Medical Allowance</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control"
                id="MedicalAllowance" aria-describedby="MedicalAllowance" placeholder="Enter Medical Allowance"
                formControlName="MedicalAllowance">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['MedicalAllowance'].touched || payScaleForm.controls['MedicalAllowance'].dirty) && payScaleForm.controls['MedicalAllowance'].errors?.pattern">
                Medical Allowance is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('Reliever Charges') !== -1)">
              <label for="RelieverCharges">Reliever Charges</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control"
                id="RelieverCharges" aria-describedby="RelieverCharges" placeholder="Enter Reliever Charges"
                formControlName="RelieverCharges">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['RelieverCharges'].touched || payScaleForm.controls['RelieverCharges'].dirty) && payScaleForm.controls['RelieverCharges'].errors?.pattern">
                Reliever Charges is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('Bonus') !== -1)">
              <label for="Bonus">Bonus</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control" id="Bonus"
                aria-describedby="Bonus" placeholder="Enter Bonus" formControlName="Bonus">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['Bonus'].touched || payScaleForm.controls['Bonus'].dirty) && payScaleForm.controls['Bonus'].errors?.pattern">
                Bonus is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('HRA') !== -1)">
              <label for="HRA">HRA</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control" id="HRA"
                aria-describedby="HRA" placeholder="Enter HRA" formControlName="HRA">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['HRA'].touched || payScaleForm.controls['HRA'].dirty) && payScaleForm.controls['HRA'].errors?.pattern">
                HRA is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('National Festival Holidays') !== -1)">
              <label for="NationalFestivalHolidays">National Festival Holidays</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control"
                id="NationalFestivalHolidays" aria-describedby="NationalFestivalHolidays"
                placeholder="Enter National Festival Holidays" formControlName="NationalFestivalHolidays">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['NationalFestivalHolidays'].touched || payScaleForm.controls['NationalFestivalHolidays'].dirty) && payScaleForm.controls['NationalFestivalHolidays'].errors?.pattern">
                National Festival Holidays is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('Conveyance') !== -1)">
              <label for="Conveyance">Conveyance</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control" id="Conveyance"
                aria-describedby="Conveyance" placeholder="Enter Conveyance" formControlName="Conveyance">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['Conveyance'].touched || payScaleForm.controls['Conveyance'].dirty) && payScaleForm.controls['Conveyance'].errors?.pattern">
                Conveyance is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('Leave With Wages') !== -1)">
              <label for="LeaveWithWages">Leave With Wages</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control"
                id="LeaveWithWages" aria-describedby="LeaveWithWages" placeholder="Enter Leave With Wages"
                formControlName="LeaveWithWages">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['LeaveWithWages'].touched || payScaleForm.controls['LeaveWithWages'].dirty) && payScaleForm.controls['LeaveWithWages'].errors?.pattern">
                Leave With Wages is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('Washing Allowance') !== -1)">
              <label for="WashingAllowance">Washing Allowance</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control"
                id="WashingAllowance" aria-describedby="WashingAllowance" placeholder="Enter Washing Allowance"
                formControlName="WashingAllowance">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['WashingAllowance'].touched || payScaleForm.controls['WashingAllowance'].dirty) && payScaleForm.controls['WashingAllowance'].errors?.pattern">
                Washing Allowance is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedValue.indexOf('Special Allowance') !== -1)">
              <label for="SpecialAllowance">Special Allowance</label>
              <input type="text" (change)="findGrossTotal()" name="sal-gross-input" class="form-control"
                id="SpecialAllowance" aria-describedby="SpecialAllowance" placeholder="Enter Special Allowance"
                formControlName="SpecialAllowance">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['SpecialAllowance'].touched || payScaleForm.controls['SpecialAllowance'].dirty) && payScaleForm.controls['SpecialAllowance'].errors?.pattern">
                Special Allowance is not valid.
              </div>
            </div>

          </div>

        </div>


        <div class="col-lg-6 sal-design">
          <div style="margin: 20px auto;">

            <label for="salaryData">Deductions</label>
            <mat-form-field>
              <mat-select [(ngModel)]="selectedDeductionValue" name="values" multiple formControlName="deductionType"
                id="deductionType">
                <ng-container *ngFor="let data of salaryData">
                  <mat-option [value]="data.name"
                    *ngIf="['PF Amount', 'ESI Amount', 'Professional Tax'].indexOf(data.name) !== -1">
                    {{data.name}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <div class="text-danger"
              *ngIf="payScaleForm.controls.deductionType.hasError('required') && (payScaleForm.controls.deductionType.dirty || payScaleForm.controls.deductionType.touched)">
              Deduction Type is <strong>Required</strong>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-lg-6" *ngIf="(selectedDeductionValue.indexOf('PF Amount') !== -1)">
              <label for="PFAmount">Provident Fund</label>
              <input type="text" (change)="findDeductionTotal()" name="sal-deduct-input" class="form-control"
                id="PFAmount" aria-describedby="PF Amount" placeholder="Enter PF Amount" formControlName="PFAmount">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['PFAmount'].touched || payScaleForm.controls['PFAmount'].dirty) && payScaleForm.controls['PFAmount'].errors?.pattern">
                PF Amount is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedDeductionValue.indexOf('ESI Amount') !== -1)">
              <label for="ESIAmount">ESI</label>
              <input type="text" (change)="findDeductionTotal()" name="sal-deduct-input" class="form-control"
                id="ESIAmount" aria-describedby="ESI Amount" placeholder="Enter ESI Amount" formControlName="ESIAmount">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['ESIAmount'].touched || payScaleForm.controls['ESIAmount'].dirty) && payScaleForm.controls['ESIAmount'].errors?.pattern">
                ESI Amount is not valid.
              </div>
            </div>

            <div class="form-group col-lg-6" *ngIf="(selectedDeductionValue.indexOf('Professional Tax') !== -1)">
              <label for=" ProfessionalTax"> Professional Tax</label>
              <input type="text" (change)="findDeductionTotal()" name="sal-deduct-input" class="form-control"
                id="ProfessionalTax" aria-describedby="Professional Tax" placeholder="Enter Professional Tax"
                formControlName="ProfessionalTax">
              <div class="text-danger"
                *ngIf="(payScaleForm.controls['ProfessionalTax'].touched || payScaleForm.controls['ProfessionalTax'].dirty) && payScaleForm.controls['ProfessionalTax'].errors?.pattern">
                Professional Tax is not valid.
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg">
          <hr style="margin-top: 2px; margin-bottom: 6px;">
          <div class="button-holder">
            <button type="button" [routerLink]="['/master/payscale-data']" style="margin-right: 5px;"
              class="btn btn-danger">Cancel</button>
            <button type="submit" [disabled]="!payScaleForm.valid" style="margin-left: 5px;"
              class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>