<header>
  <div class="main">
    <ul class="ham-icon-search-holder">
      <li (click)="onSidebarToggle()">
        <button class="btn btn-primary"><i class="fas fa-bars"></i></button>
      </li>
      <li>
        <i class="fas fa-compress" (click)="openfullscreen()"></i>
      </li>
      <li>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search here!">
          <i class="fas fa-search"></i>
        </div>
      </li>
    </ul>
    <h1>Spoorthy Group HR Services</h1>
    
  </div>
  <!-- <div class="secondary">
    <p>Overall Summary</p>
    <breadcrumb [allowBootstrap]="true"></breadcrumb>
  </div> -->
</header>
