<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <!-- <clear/> -->
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header">
          <action type="Rewrite" value=""/>
          <match pattern=".+" serverVariable="RESPONSE_Server"/>
        </rule>
      </outboundRules>
    </rewrite>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <action type="Rewrite" url="./index.html"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <match url=".*"/>
        </rule>
      </rules>
    </rewrite>
    <!-- <stripHeaders>
      <header name="Server"/>
      <header name="X-Aspnet-Version"/>
      <header name="X-Powered-By"/>
    </stripHeaders> -->
  </system.webServer>
</configuration>