<div class="add-vehicle-wrap">
  <div class="row">
    <form class="form" [formGroup]="workOrderForm">
      <div class="col-lg-12">
        <div class="row mb-3">
          <h4>Workorder Details</h4>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="required" for="client">Client Name</label>
              <select id="Contractor" formControlName="client" class="form-control">
                <option value="" disabled selected style="color: red;">Select Client</option>
                <option *ngFor="let data of Client" [value]="data._id">{{data.name}}</option>
              </select>
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['client'].touched || workOrderForm.controls['client'].dirty) && workOrderForm.controls['client'].errors?.required">
                Client Name is required.
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="required" for="name">Work Order Name</label>
              <input type="text" class="form-control" id="name" aria-describedby="name"
                placeholder="Enter Work Order Name" formControlName="name">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['name'].touched || workOrderForm.controls['name'].dirty) && workOrderForm.controls['name'].errors?.required">
                Work Order Name is required.
              </div>
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['name'].touched || workOrderForm.controls['name'].dirty) && workOrderForm.controls['name'].errors?.pattern">
                Work Order Name is not valid.
              </div>

            </div>
          </div>

          <!-- WORK ORDER DATE FIELD -->
          <div class="col-lg-6">
            <div class="form-group">
              <label class="required" for="workOrderDate">Work Order Date</label>
              <input type="date" class="form-control" id="workOrderDate" aria-describedby="workOrderDate"
                formControlName="workOrderDate">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['workOrderDate'].touched || workOrderForm.controls['workOrderDate'].dirty) && workOrderForm.controls['workOrderDate'].errors?.required">
                Date is required.
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="required" for="noOfRequirements">Total Manpower Required By The Client</label>
              <input type="text" class="form-control" id="noOfRequirements" aria-describedby="noOfRequirements"
                placeholder="Enter Total Number of Manpower Required" formControlName="noOfRequirements">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['noOfRequirements'].touched || workOrderForm.controls['noOfRequirements'].dirty) && workOrderForm.controls['noOfRequirements'].errors?.required">
                Total Number Of Employees is required.
              </div>
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['noOfRequirements'].touched || workOrderForm.controls['noOfRequirements'].dirty) && workOrderForm.controls['noOfRequirements'].errors?.pattern">
                Total Number Of Employees is not valid.
              </div>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="required" for="depositAmount">Security Deposit Amount in Ruppees</label>
              <input type="text" class="form-control" id="depositAmount" aria-describedby="depositAmount"
                placeholder="Enter Security Deposit Amount" formControlName="depositAmount">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['depositAmount'].touched || workOrderForm.controls['depositAmount'].dirty) && workOrderForm.controls['depositAmount'].errors?.required">
                Security Deposit Amount is required.
              </div>
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['depositAmount'].touched || workOrderForm.controls['depositAmount'].dirty) && workOrderForm.controls['depositAmount'].errors?.pattern">
                Security Deposit Amount is not valid.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="eprocDate">E-Proc Date</label>
              <input type="date" class="form-control" id="eprocDate" aria-describedby="eprocDate"
                formControlName="eprocDate">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['eprocDate'].touched || workOrderForm.controls['eprocDate'].dirty) && workOrderForm.controls['eprocDate'].errors?.required">
                E-Proc Date is required.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="eprocReference">E-Proc Reference Number</label>
              <input type="text" class="form-control" id="eprocReference" aria-describedby="eprocReference"
                placeholder="Enter E-Proc Reference Number" formControlName="eprocReference">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['eprocReference'].touched || workOrderForm.controls['eprocReference'].dirty) && workOrderForm.controls['eprocReference'].errors?.required">
                E-Proc Reference is required.
              </div>
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['eprocReference'].touched || workOrderForm.controls['eprocReference'].dirty) && workOrderForm.controls['eprocReference'].errors?.pattern">
                E-Proc Reference is not valid.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="spoorthyReference">Spoorthy Reference Number</label>
              <input type="text" class="form-control" id="spoorthyReference" aria-describedb y="spoorthyReference"
                placeholder="Enter Spoorthy Reference Number" formControlName="spoorthyReference">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['spoorthyReference'].touched || workOrderForm.controls['spoorthyReference'].dirty) && workOrderForm.controls['spoorthyReference'].errors?.required">
                Spoorthy Reference is required.
              </div>
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['spoorthyReference'].touched || workOrderForm.controls['spoorthyReference'].dirty) && workOrderForm.controls['spoorthyReference'].errors?.pattern">
                Spoorthy Reference is not valid.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="workOrderNumber">Work Order Number</label>
              <input type="text" class="form-control" id="workOrderNumber" aria-describedby="workOrderNumber"
                placeholder="Enter Work Order Number" formControlName="workOrderNumber">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['workOrderNumber'].touched || workOrderForm.controls['workOrderNumber'].dirty) && workOrderForm.controls['workOrderNumber'].errors?.required">
                Work Order Number is required.
              </div>
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['workOrderNumber'].touched || workOrderForm.controls['workOrderNumber'].dirty) && workOrderForm.controls['workOrderNumber'].errors?.pattern">
                Work Order Number is not valid.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="bankGuaranteeDate">Bank Guarantee/FDR/DD Date</label>
              <input type="date" class="form-control" id="bankGuaranteeDate" aria-describedby="bankGuaranteeDate"
                formControlName="bankGuaranteeDate">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['bankGuaranteeDate'].touched || workOrderForm.controls['bankGuaranteeDate'].dirty) && workOrderForm.controls['bankGuaranteeDate'].errors?.required">
                Bank Guarantee Date is required.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="bankGuaranteeNumber">Bank Guarantee/FDR/DD Number</label>
              <input type="text" class="form-control" id="bankGuaranteeNumber" aria-describedby="bankGuaranteeNumber"
                placeholder="Enter Bank Guarantee/FDR/DD Number" formControlName="bankGuaranteeNumber">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['bankGuaranteeNumber'].touched || workOrderForm.controls['bankGuaranteeNumber'].dirty) && workOrderForm.controls['bankGuaranteeNumber'].errors?.requ[...]
                Bank Guarantee/FDR/DD Number is required.
              </div>
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['bankGuaranteeNumber'].touched || workOrderForm.controls['bankGuaranteeNumber'].dirty) && workOrderForm.controls['bankGuaranteeNumber'].errors?.patt[...]
                Bank Guarantee/FDR/DD Number is not valid.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="StartDate">Contract Start Date</label>
              <input type="date" class="form-control" id="StartDate" aria-describedby="StartDate"
                formControlName="StartDate">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['StartDate'].touched || workOrderForm.controls['StartDate'].dirty) && workOrderForm.controls['StartDate'].errors?.required">
                Contract Start Date is required.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="ContractEndDate">Contract End Date</label>
              <input type="date" class="form-control" id="ContractEndDate" aria-describedby="ContractEndDate"
                formControlName="ContractEndDate">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['ContractEndDate'].touched || workOrderForm.controls['ContractEndDate'].dirty) && workOrderForm.controls['ContractEndDate'].errors?.required">
                Contract End Date is required.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="RenewalDate">Contract Renewal Date</label>
              <input type="date" class="form-control" id="RenewalDate" aria-describedby="RenewalDate"
                formControlName="RenewalDate">
              <div class="text-danger"
                *ngIf="(workOrderForm.controls['RenewalDate'].touched || workOrderForm.controls['RenewalDate'].dirty) && workOrderForm.controls['RenewalDate'].errors?.required">
                Contract Renewal Date is required.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="workOrderDocument">Upload Work Order</label>
              <input type="file" class="d-none mb-1" id="workOrderDocument" aria-describedby="workOrderDocument">
              <div class="pl-0 col-lg-12">
                <div>
                  <button class="text-left btn btn-danger"
                    onclick="document.getElementById('workOrderDocument').click()">
                    <i class="fas fa-upload pr-3"></i>UPLOAD FILE
                  </button>
                </div>
                <div>
                  <label id="workOrderDocumentName" for="workOrderDocument">Upload File</label>
                  <a [href]="(workOrderDocumenturl ? workOrderDocumenturl : '#') | safe" target="_blank"
                    class="btn rounded" style="padding: 0px; padding-left: 5px;">
                    <i *ngIf="workOrderDocumenturl" class="fas fa-eye view" tooltip="View"></i>
                  </a>
                </div>
              </div>
              <div class="text-danger"
                *ngIf="workOrderForm.get('workOrderDocument').errors!=null && workOrderForm.get('workOrderDocument').errors['requiredFileType']">
                Upload pdf files
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="agreementDocument">Agreement Document</label>
              <input type="file" class="d-none mb-1" id="agreementDocument" aria-describedby="agreementDocument">
              <div class="pl-0 col-lg-12">
                <div>
                  <button class="text-left btn btn-danger"
                    onclick="document.getElementById('agreementDocument').click()">
                    <i class="fas fa-upload pr-3"></i>UPLOAD FILE
                  </button>
                </div>
                <div>
                  <label id="agreementDocumentName" for="agreementDocument">Upload File</label>
                  <a [href]="(agreementDocumenturl ? agreementDocumenturl : '#') | safe" target="_blank"
                    class="btn rounded" style="padding: 0px; padding-left: 5px;">
                    <i *ngIf="agreementDocumenturl" class="fas fa-eye view" tooltip="View"></i>
                  </a>
                </div>
              </div>
              <div class="text-danger"
                *ngIf="workOrderForm.get('agreementDocument').errors!=null && workOrderForm.get('agreementDocument').errors['requiredFileType']">
                Upload pdf files
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="required" for="bankGuaranteeDocument">Bank Guarantee Document</label>
              <input type="file" class="d-none mb-1" id="bankGuaranteeDocument"
                aria-describedby="bankGuaranteeDocument">
              <div class="pl-0 col-lg-12">
                <div>
                  <button class="text-left btn btn-danger"
                    onclick="document.getElementById('bankGuaranteeDocument').click()"><i
                      class="fas fa-upload pr-3"></i>UPLOAD FILE</button>
                </div>
                <div>
                  <label id="bankGuaranteeDocumentName" for="bankGuaranteeDocument"> <br> Upload
                    File</label>
                  <a [href]="(bankGuaranteeDocumenturl ? bankGuaranteeDocumenturl : '#') | safe" target="_blank"
                    class="btn rounded" style="padding: 0px; padding-left: 5px;">
                    <i *ngIf="bankGuaranteeDocumenturl" class="fas fa-eye view" tooltip="View"></i>
                  </a>
                </div>
              </div>
              <div class="text-danger"
                *ngIf="workOrderForm.get('bankGuaranteeDocument').errors!=null && workOrderForm.get('bankGuaranteeDocument').errors['requiredFileType']">
                Upload pdf files
              </div>
            </div>
          </div>

        </div>

        <div class="row mb-3">
          <h4 class="text-center">Client Requirement for Various Jobs/Roles</h4>
          <div class="text-center col-lg-12">
            <div class="table-responsive">
              <table mat-table [dataSource]="jobRoleSource" matSort>
                <ng-container matColumnDef="Job/Role">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Job/Role</th>
                  <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{ row.role }}</td>
                </ng-container>

                <ng-container matColumnDef="Unit/Branch">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit/Branch</th>
                  <td mat-cell *matCellDef="let row"> {{ row.branchName }}</td>
                </ng-container>

                <ng-container matColumnDef="Job Location">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Location</th>
                  <td mat-cell *matCellDef="let row">{{ row.siteAddress }}</td>
                </ng-container>

                <ng-container matColumnDef="Salary">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
                  <td mat-cell *matCellDef="let row">{{ row.salary }}</td>
                </ng-container>

                <ng-container matColumnDef="No. of Jobs">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No. of Jobs</th>
                  <td mat-cell *matCellDef="let row">{{ row.noOfManpower }}</td>
                </ng-container>

                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center !important;">Action</th>
                  <td mat-cell *matCellDef="let row">
                    <div class="actions">
                      <i (click)="onEditJobRoleModel('JobRoleModel', row)" class="fas fa-edit edit" tooltip="Edit"></i>
                      <i (click)="deleteEducationalData(row._id)" class="fas fa-trash delete" tooltip="Delete"></i>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="jobRoleSourceColumn; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: jobRoleSourceColumn;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="9" style="text-align: center;">No data matching the filter</td>
                </tr>
              </table>
            </div>
            <button (click)="ModelOpen('JobRoleModel')" class="btn btn-danger mt-3">CLICK TO ADD JOB/ROLE</button>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button (click)="onClearForm()" class="btn btn-primary btn-main">Clear</button>
            <button type="submit" class="btn btn-primary btn-main float-right m-0" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Job Role Model -->
<div id="JobRoleModel" class="modal" tabindex="-1" role="dialog" style="display: none;">
  <form class="form" [formGroup]="jobRoleForm">
    <div class="modal-dialog modal-lg" role="document" style="width: 630px;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add Job / Role</h2>
          <button (click)="ModelClose('JobRoleModel')" type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label class="required" for="role">Job / Role</label>
            <select id="role" formControlName="role" class="form-control">
              <option value="" style="color: red;">Select Job / Role</option>
              <option *ngFor="let data of Designation" [value]="data._id">{{data.name}}</option>
            </select>
            <div class="text-danger"
              *ngIf="(jobRoleForm.controls['role'].touched || jobRoleForm.controls['role'].dirty) && jobRoleForm.controls['role'].errors?.required">
              Job/Role is required.
            </div>
          </div>

          <div class="form-group">
            <label class="required" for="noOfManpower">No. of Manpower Required For The Selected Role</label>
            <input type="text" class="form-control" id="noOfManpower" aria-describedby="noOfManpower"
              placeholder="Enter No. Manpower Required For The Selected Role" formControlName="noOfManpower">
            <div class="text-danger"
              *ngIf="(jobRoleForm.controls['noOfManpower'].touched || jobRoleForm.controls['noOfManpower'].dirty) && jobRoleForm.controls['noOfManpower'].errors?.required">
              No. of Manpower is required.
            </div>
            <div class="text-danger"
              *ngIf="(jobRoleForm.controls['noOfManpower'].touched || jobRoleForm.controls['noOfManpower'].dirty) && jobRoleForm.controls['noOfManpower'].errors?.pattern">
              No. of Manpower is not valid.
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label class="required" for="branchName">Unit/Branch Name</label>
                <input type="text" class="form-control" id="branchName" aria-describedby="branchName"
                  placeholder="Enter Unit/Branch Name" formControlName="branchName">
                <div class="text-danger"
                  *ngIf="(jobRoleForm.controls['branchName'].touched || jobRoleForm.controls['branchName'].dirty) && jobRoleForm.controls['branchName'].errors?.required">
                  Unit/Branch Name is required.
                </div>
                <div class="text-danger"
                  *ngIf="(jobRoleForm.controls['branchName'].touched || jobRoleForm.controls['branchName'].dirty) && jobRoleForm.controls['branchName'].errors?.pattern">
                  Unit/Branch Name is not valid.
                </div>
              </div>

              <div class="form-group">
                <label class="required" for="salary">Salary Per Person In Rupees</label>
                <input type="text" class="form-control" id="salary" aria-describedby="salary" placeholder="Enter Salary"
                  formControlName="salary">
                <div class="text-danger"
                  *ngIf="(jobRoleForm.controls['salary'].touched || jobRoleForm.controls['salary'].dirty) && jobRoleForm.controls['salary'].errors?.required">
                  Salary is required.
                </div>
                <div class="text-danger"
                  *ngIf="(jobRoleForm.controls['salary'].touched || jobRoleForm.controls['salary'].dirty) && jobRoleForm.controls['salary'].errors?.pattern">
                  Salary is not valid.
                </div>
              </div>
            </div>

            <div class="col-7">
              <div class="form-group">
                <label class="required" for="siteAddress">Job Location / Site Address</label>
                <input type="text" class="form-control" id="siteAddress" aria-describedby="siteAddress"
                  placeholder="Enter Job Location / Site Address" formControlName="siteAddress">
                <div class="text-danger"
                  *ngIf="(jobRoleForm.controls['siteAddress'].touched || jobRoleForm.controls['siteAddress'].dirty) && jobRoleForm.controls['siteAddress'].errors?.required">
                  Job Location / Site Address is required.
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" (click)="addJobRole()" class="btn btn-primary">ADD JOB/ROLE</button>
        </div>
      </div>
    </div>
  </form>
</div>
