<div class="dashboard-screen m-4">
  <div class="double-header-title d-flex justify-content-between align-items-center flex-wrap">
    <h4 class="font-weight-bolder pl-2">All Clients <span class="font-weight-light">- Overview</span></h4>
  </div>

  <div class="row">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
      <div class="counter-box p-3">
        <h6>Total Clients</h6>
        <div class="d-flex justify-content-between align-items-center">
          <h1>{{DashboardDetail?.TotalClients || 0}}</h1>
          <span class="icon"><img alt="total-clients-icon" src="./assets/images/total-clients-icon.svg"></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
      <div class="counter-box p-3">
        <h6>Total Work Orders</h6>
        <div class="d-flex justify-content-between align-items-center">
          <h1>{{DashboardDetail?.TotalWorkOrders || 0}}</h1>
          <span class="icon"><img alt="total-clients-icon" src="./assets/images/work-orders-icons.svg"></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
      <div class="counter-box p-3">
        <h6>Total Requirement</h6>
        <div class="d-flex justify-content-between align-items-center">
          <h1>{{DashboardDetail?.TotalRequirements || 0}}</h1>
          <span class="icon"><img alt="total-clients-icon" src="./assets/images/total-requerment-icon.svg"></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
      <div class="counter-box p-3">
        <h6>Total Employees Hired</h6>
        <div class="d-flex justify-content-between align-items-center">
          <h1>{{DashboardDetail?.TotalEmployeesHired || 0}}</h1>
          <span class="icon"><img alt="total-clients-icon" src="./assets/images/employees-hired-icon.svg"></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
      <div class="counter-box p-3">
        <h6>Total Vacancies</h6>
        <div class="d-flex justify-content-between align-items-center">
          <h1>{{DashboardDetail?.TotalVacancies || 0}}</h1>
          <span class="icon"><img alt="total-clients-icon" src="./assets/images/vaccines-icon.svg"></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-3 mb-2">
      <div class="counter-box p-3">
        <h6>Waiting For Approval</h6>
        <div class="d-flex justify-content-between align-items-center">
          <h1>{{DashboardDetail?.WaitingForApproval || 0}}</h1>
          <span class="icon"><img alt="total-clients-icon" src="./assets/images/vaccines-icon.svg"></span>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="mt-5 d-flex justify-content-between align-items-center flex-wrap">
    <div class="col-lg-5">
      <h3 class="m-0">List of Clients <span>( {{clientLength}} Clients )</span></h3>
    </div>
    <div class="col-lg-7" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">

      <mat-form-field style="width: 200px;" class="mr-5">
        <mat-label>Search by Client Name</mat-label>
        <input [(ngModel)]="searchText" matInput placeholder="Search..." #input>
      </mat-form-field>

      <button class="form-control btn btn-secondary col-md-2 btn-search" (click)="InitCall()">Search</button>

      <button id="client-btn" class="btn btn-danger" [routerLink]="['/client/add']">CLICK TO ADD NEW
        CLIENT</button>
    </div>
  </div> -->



  <div class="mt-5 d-flex justify-content-between align-items-center flex-wrap">
    <div class="col-lg-4" style="margin-bottom: 10px;">
      <h3 class="m-0">List of Client <span>( {{ListTotal}} Clients )</span></h3>
    </div>
    <div class="col-lg-8" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
      <mat-form-field style="width: 200px; margin-bottom: 10px;">
        <mat-label>Search by Client Name</mat-label>
        <!-- <input (keyup)="SearchFilterWO(input.value)" matInput placeholder="Search..." #input> -->
        <input [(ngModel)]="searchText" matInput placeholder="Search..." #input>
      </mat-form-field>

      <button class="form-control btn btn-secondary col-md-3 btn-search" (click)="InitCall()"
        style="margin-bottom: 10px;">Search</button>

      <button id="client-btn" class="btn btn-danger" [routerLink]="['/client/add']" style="margin-bottom: 10px;">
        CLICK TO ADD NEW CLIENT
      </button>
    </div>
  </div>

  <div class="example-container">
    <div class="table-responsive">
      <table mat-table [dataSource]="clientDataSource" matSort>

        <ng-container matColumnDef="Sl No">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sl.No</th>
          <td mat-cell *matCellDef="let row; let i=index;" style="white-space: nowrap;">
            {{ pagination.pageIndex * pagination.pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef style="text-align: center !important;">Actions</th>
          <td mat-cell *matCellDef="let row">
            <div class="actions">
              <i routerLink="/client/overview/{{row._id}}" class="fas fa-eye view" tooltip="View"></i>
              <i routerLink="/client/edit/{{row._id}}" class="fas fa-edit edit" tooltip="Edit"></i>
              <!-- <i (click)="deleteClient(row._id)" class="fas fa-trash delete" tooltip="Delete"></i> -->
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{ row.ClientId }}</td>
        </ng-container>

        <ng-container matColumnDef="Client Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="Contact Info">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Info</th>
          <td mat-cell *matCellDef="let row">{{ row.contactPerson }}<br>+91-{{ row.cantactNo }}<br>{{ row.contactEmail
            | lowercase }}</td>
        </ng-container>

        <ng-container matColumnDef="Work Orders">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Work Orders</th>
          <td mat-cell *matCellDef="let row">{{ row.workorderCount || 0 }}</td>
        </ng-container>

        <ng-container matColumnDef="Employee Requirement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Requirement</th>
          <td mat-cell *matCellDef="let row">{{ row.employeeRequirement || 0 }}</td>
        </ng-container>

        <ng-container matColumnDef="Hired">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hired</th>
          <td mat-cell *matCellDef="let row">{{ row.hired || 0 }} </td>
        </ng-container>

        <ng-container matColumnDef="Vacancies">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vacancies</th>
          <td mat-cell *matCellDef="let row">{{ row.employeeRequirement - row.hired || 0}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="clientColumn; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: clientColumn;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="10" style="text-align: center;">No data matching the filter</td>
        </tr>
      </table>
    </div>

    <mat-paginator #pagination [length]="ListTotal" [pageSizeOptions]="[10, 25, 50, 100]" id="tblstyPagination"
      (page)="getServerData($event)">
    </mat-paginator>
  </div>

</div>