<div class="dashboard-screen m-4">
  <div class="double-header-title d-flex justify-content-between align-items-center flex-wrap">
    <h4 class="font-weight-bolder pl-2">{{employeeData?.FullName}} <span class="font-weight-light">-
        {{employeeData?.UniqueEmpId}}</span><a routerLink="/allcandidate/overview/employee/edit/{{candidateId}}"><img
          src="./assets/images/edit-icon.svg" alt="edit-icon" class="ml-4"></a></h4>
    <h6 class="pr-2">REGISTERED ON <span>: {{employeeData?.RegisterDate | date: 'dd-MM-yyyy'}}</span></h6>
  </div>
</div>

<div class="user-profile-info">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="user-profile d-flex align-items-center jutify-content-center mt-4">
        <div class="featured-image"><img *ngIf="employeeData" width="160" height="160"
            [src]="DocUrl+employeeData?.CandidatePhoto" alt="user-profile"></div>
        <div class="user-profile-btns d-flex flex-wrap pl-4">
          <div class="view-profile-btn w-100">
            <a style="width: 150px;" target="_blank" class="btn rounded view-resume-btn"
              *ngIf="employeeData?.ResumeDocument" [href]="DocUrl+employeeData?.ResumeDocument">
              <img src="./assets/images/view-resume-icon.svg" alt="view-resume">
              View Resume
            </a>
          </div>
        </div>
      </div>
      <div class="table-information">
        <table class="w-100 info-table">
          <tr>
            <th>Name : </th>
            <td>{{employeeData?.FullName}}</td>
          </tr>
          <tr>
            <th>Age : </th>
            <td>{{employeeData?.Age}} Y</td>
          </tr>
          <tr>
            <th>Gender : </th>
            <td>{{employeeData?.Gender?.name}}</td>
          </tr>
          <tr>
            <th>Phone :</th>
            <td><a class="mr-2"
                href="tel:+91-{{employeeData?.PresentAddressPhone}}">+91-{{employeeData?.PresentAddressPhone}}</a><br><a
                class="mr-2"
                href="tel:+91-{{employeeData?.PermanentAddressPhone}}">+91-{{employeeData?.PermanentAddressPhone}}</a>
            </td>
          </tr>
          <tr>
            <th>Date of Birth :</th>
            <td>{{employeeData?.DateOfBirth | date: 'dd-MMM-yyyy'}}</td>
          </tr>
          <tr>
            <th>Blood Group :</th>
            <td>{{employeeData?.BloodGroup?.name}}</td>
          </tr>
          <tr>
            <th>Mother Tongue :</th>
            <td>{{employeeData?.MotherTongue}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 border-left-right">
      <div class="table-information">
        <table class="w-100 info-table">
          <tr>
            <th>Languages Known :</th>
            <td>
              <p *ngFor="let data of employeeData?.LanguagesKnown; index as i">{{data?.Language?.name}} <span
                  class="font-weight-light">({{data.Speak == true ? 'Speak' : ''}}{{data.Read == true ? ', Read ' :
                  ''}}{{data.Write == true ? ', Write' : ''}})</span></p>
              <!-- <p>English <span class="font-weight-light">(Speak, Read, Write)</span></p>
                <p>Kannada <span class="font-weight-light">(Speak, Read, Write)</span></p>
                <p>Hindi <span class="font-weight-light">(Speak)</span></p>
              </td> -->
          </tr>
          <tr>
            <th>Marital Status :</th>
            <td>{{employeeData?.MaritalStatus?.name}}</td>
          </tr>
          <tr>
            <th>Religion :</th>
            <td>{{employeeData?.Religion?.name}}</td>
          </tr>
          <tr>
            <th>Place of Birth :</th>
            <td>{{employeeData?.PlaceOfBirth}}</td>
          </tr>
          <tr>
            <th>PAN : </th>
            <td>{{employeeData?.PAN}}</td>
          </tr>
          <tr>
            <th>Aadhar : </th>
            <td>{{employeeData?.AadharNo}}</td>
          </tr>
          <tr>
            <th>Present Address : </th>
            <td>{{employeeData?.PresentAddress}} {{employeeData?.PresentAddressPincode}}</td>
          </tr>
          <tr>
            <th>Permanent Address : </th>
            <td>{{employeeData?.PermanentAddress}} {{employeeData?.PermanentAddressPincode}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="table-information">
        <table class="w-100 info-table">
          <!-- <tr>
              <th>Father's Name :</th>
              <td>{{employeeData?.FatherName}}</td>
            </tr>
            <tr>
              <th>Mother/spouse's Name :</th>
              <td>{{employeeData?.MotherOrSpouseName}}</td>
            </tr>
            <tr>
              <th>No. of children :</th>
              <td>{{employeeData?.NoOfChildren.length}}</td>
            </tr>
            <tr>
              <th>Child Name (Age) :</th>
              <td>
                <ng-container *ngFor="let data of employeeData?.NoOfChildren">
                  <p *ngIf="data">{{data.Name}} <span class="font-weight-light">({{data.Age}})</span></p>
                </ng-container> -->
          <!-- <p>Child Name <span class="font-weight-light">(Age)</span></p> -->
          <!-- </td>
            </tr> -->
          <tr>
            <th>Identification 1 :</th>
            <td>{{employeeData?.Identification1}}</td>
          </tr>
          <tr>
            <th>Identification 2 :</th>
            <td>{{employeeData?.Identification2}}</td>
          </tr>
          <tr>
            <th>Mark 1 :</th>
            <td>{{employeeData?.Mark1}}</td>
          </tr>
          <tr>
            <th>Mark 2 :</th>
            <td>{{employeeData?.Mark2}}</td>
          </tr>
          <tr>
            <td style="padding-top: 50px;" class="text-center" colspan="2">
              <a target="_blank" class="btn rounded view-resume-btn" *ngIf="employeeData?.AadharDocument"
                [href]="DocUrl+employeeData?.AadharDocument">
                <img src="./assets/images/view-resume-icon.svg" alt="view-resume">View Aadhar
              </a>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="2">
              <a target="_blank" class="btn rounded view-resume-btn" *ngIf="employeeData?.PANDocument"
                [href]="DocUrl+employeeData?.PANDocument">
                <img src="./assets/images/view-resume-icon.svg" alt="view-resume">View PAN
              </a>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="2">
              <a target="_blank" class="btn rounded view-resume-btn" *ngIf="employeeData?.IDProofDocument"
                [href]="DocUrl+employeeData?.IDProofDocument">
                <img src="./assets/images/view-resume-icon.svg" alt="view-resume">View ID Proof
              </a>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="2">
              <a target="_blank" class="btn rounded view-resume-btn" *ngIf="employeeData?.PassbookDocument"
                [href]="DocUrl+employeeData?.PassbookDocument">
                <img src="./assets/images/view-resume-icon.svg" alt="view-resume">View Bank Passbook
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="manage-div" *ngIf="(userDetails.role == 'General Manager' && employeeData?.ApprovedByGM != true)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4" style="align-self: center;">
        <h1 class="manage-h1">
          GM Verification
        </h1>
      </div>
      <div class="col-lg-8">
        <div class="manage-buttons">
          <button class="edit-button edit-gen" (click)="openApprovalModal(GMApprovalModal)" style="position: relative;">
            <span class="plh">Approval</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="manage-div"
  *ngIf="(userDetails.role == 'Managing Director' && employeeData?.ApprovedByGM == true && employeeData?.ApprovedByMD != true)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4" style="align-self: center;">
        <h1 class="manage-h1">
          MD Verification
        </h1>
      </div>
      <div class="col-lg-8">
        <div class="manage-buttons">
          <button class="edit-button edit-gen" (click)="openApprovalModal(MDApprovalModal)" style="position: relative;">
            <span class="plh">Approval</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nav-tabs-design">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item play-btn-black" role="presentation">
      <label class="play-btn"> <img src="./assets/images/play-btn-icon.svg" alt="play-btn-icon"> </label>
    </li>
    <li class="nav-item flex-grow-1" role="presentation"> <a class="nav-link active" id="job-detail-tab"
        data-toggle="tab" href="#job-detail" role="tab" aria-controls="job-detail" aria-selected="true">Job/Role
        Details</a> </li>
    <li class="nav-item flex-grow-1" role="presentation"> <a class="nav-link" id="interview-tab" data-toggle="tab"
        href="#interview" role="tab" aria-controls="interview" aria-selected="false">Interview Details</a> </li>
    <li class="nav-item flex-grow-1" role="presentation"> <a class="nav-link" id="experience-tab" data-toggle="tab"
        href="#experience" role="tab" aria-controls="experience" aria-selected="true">Work Experience</a> </li>
    <li class="nav-item flex-grow-1" role="presentation"> <a class="nav-link" id="qualification-tab" data-toggle="tab"
        href="#qualification" role="tab" aria-controls="qualification" aria-selected="false">Education
        Qualification</a> </li>
    <li class="nav-item flex-grow-1" role="presentation"> <a class="nav-link" id="references-tab" data-toggle="tab"
        href="#references" role="tab" aria-controls="references" aria-selected="false">References</a> </li>
    <li class="nav-item flex-grow-1" role="presentation"> <a class="nav-link" id="family-tab" data-toggle="tab"
        href="#family" role="tab" aria-controls="family" aria-selected="false">Family Details</a> </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="job-detail" role="tabpanel" aria-labelledby="job-detail-tab">
      <div class="simple-table-scroller">
        <table class="simple-table w-100">
          <thead>
            <tr>
              <th>Client Name</th>
              <th>Work Order</th>
              <th>Job/Role</th>
              <th>Salary Set</th>
              <th>Unit/Branch</th>
              <th>Job/Site Location</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-bolder">{{employeeData?.WorkOrder?.client?.name}}</td>
              <td class="font-weight-light">{{employeeData?.WorkOrder?.name}}</td>
              <td class="font-weight-bolder"><a href="#">{{employeeData?.WorkOrderRole?.role?.name}}</a></td>
              <td class="font-weight-light">{{employeeData?.Salary}}</td>
              <td class="font-weight-light">{{employeeData?.WorkOrderRole?.branchName}}</td>
              <td class="font-weight-light">{{employeeData?.WorkOrderRole?.siteAddress}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="interview" role="tabpanel" aria-labelledby="interview-tab">
      <div class="simple-table-scroller">
        <table class="simple-table w-100">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Interview Stage / Round</th>
              <th>Updated On</th>
              <th>Salary Set</th>
              <th>Status</th>
              <th>Document/Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of employeeData?.InterviewDetail; index as i">
              <td class="font-weight-light">{{i+1}}</td>
              <td class="font-weight-bolder">{{data?.Name}}</td>
              <td class="font-weight-light">{{data?.UpdatedOn | date: 'dd-MMM-yyyy'}}</td>
              <td class="font-weight-bolder">{{data?.SalarySet}}</td>
              <td class="font-weight-light">{{data?.Status}}</td>
              <td class="font-weight-light" *ngIf="data?.Documents">
                <a target="_blank" [href]="DocUrl+data?.Documents">View Assessment Document</a>
              </td>
              <td *ngIf="data?.Remarks">
                {{data?.Remarks}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
      <div class="simple-table-scroller">
        <table class="simple-table w-100">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Company Name</th>
              <th>Designation</th>
              <th>Year</th>
              <th>Salary Drawn</th>
              <th>Supervisor Name</th>
              <th>Supervisor Mobile</th>
              <th>Supervisor Email</th>
              <th>Reason for Leaving</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of employeeData?.WorkExperience; index as i">
              <td>{{i+1}}</td>
              <td class="font-weight-bolder">{{data?.CompanyName}}</td>
              <td class="font-weight-bolder"><a href="#">{{data?.Designation?.name}}</a></td>
              <td class="font-weight-light">{{data?.From}}-{{data?.To}}</td>
              <td class="font-weight-light">{{data?.SalaryDrawn}}</td>
              <td class="font-weight-light">{{data?.SupervisorName}}</td>
              <td class="font-weight-light">{{data?.SupervisorMobile}}</td>
              <td class="font-weight-light">{{data?.SupervisorEmail}}</td>
              <td class="font-weight-light">{{data?.ReasonForLeaving}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="qualification" role="tabpanel" aria-labelledby="qualification-tab">
      <div class="simple-table-scroller">
        <table class="simple-table w-100">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>School/College Name</th>
              <th>Course</th>
              <th>Year</th>
              <th>Percentage Marks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of employeeData?.EducationalQualification; index as i">
              <td>{{i+1}}</td>
              <td class="font-weight-bolder">{{data?.SchoolCollegeName}}</td>
              <td class="font-weight-bolder"><a href="#">{{data?.Course?.name}}</a></td>
              <td class="font-weight-light">{{data?.From}}-{{data?.To}}</td>
              <td class="font-weight-light">{{data?.Marks}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="references" role="tabpanel" aria-labelledby="references-tab">
      <div class="simple-table-scroller">
        <table class="simple-table w-100">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Name</th>
              <th>Occupation</th>
              <th>Address</th>
              <th>Contact No.</th>
              <!-- <th>Aadhar</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of employeeData?.References; index as i">
              <td>{{i+1}}</td>
              <td class="font-weight-bolder">{{data?.Name}}</td>
              <td class="font-weight-bolder"><a href="#">{{data?.Occupation?.name}}</a></td>
              <td class="font-weight-light">{{data?.Address}}</td>
              <td class="font-weight-light">{{data?.ContactNo}}</td>
              <!-- <td class="font-weight-light">{{data?.AadharNo}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="family" role="tabpanel" aria-labelledby="family-tab">
      <div class="simple-table-scroller">
        <table class="simple-table w-100">
          <thead>
            <tr>
              <th>Relationship</th>
              <th>Name Of The Family Member</th>
              <th>Date of Birth</th>
              <th>Aadhar No.</th>
              <th>Contact No.</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of employeeData?.FamilyDetail; index as i">
              <td><a href="#">{{data?.Relationship?.name}}</a></td>
              <td class="font-weight-bolder">{{data?.Name}}</td>
              <td class="font-weight-light">{{data?.DateOfBirth | date: "dd-MM-yyyy"}}</td>
              <td class="font-weight-light">{{data?.AadharNo}}</td>
              <td class="font-weight-light">{{data?.ContactNo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="card">

    <div class="card-header" id="headingFive">
      <h5 class="mb-0 text-center">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
          aria-controls="collapseFive">
          Salary Breakup Details
          <p class="h6">View Salary Details Of The Employee</p>
        </button>
      </h5>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">

        <div class="row mb-3">
          <div class="col-lg-4" *ngIf="employeeData?.ESIBasedOn">
            <label>ESI Based On</label>
            <input type="text" class="form-control" [value]="employeeData?.ESIBasedOn" readonly>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-4" *ngIf="employeeData?.GrossSalary">
            <label>Gross Salary</label>
            <input type="text" class="form-control" [value]="employeeData?.GrossSalary" readonly>
          </div>
          <div class="col-lg-4" *ngIf="employeeData?.DeductedSalary">
            <label>Deducted Salary</label>
            <input type="text" class="form-control" [value]="employeeData?.DeductedSalary" readonly>
          </div>
          <div class="col-lg-4" *ngIf="employeeData?.NetSalary">
            <label>Net Salary</label>
            <input type="text" class="form-control" [value]="employeeData?.NetSalary" readonly>
          </div>
        </div>


        <div class="mb-3">
          <span style="font-size: 16px; color: red; text-decoration-line: underline;">Net Salary Details : </span>

          <div class="row mb-3 mt-2">
            <div class="col-lg-2" *ngIf="employeeData?.BasicVDA">
              <label>Basic+VDA</label>
              <input type="text" class="form-control" [value]="employeeData?.BasicVDA" readonly>
            </div>
            <div class="col-lg-2" *ngIf="employeeData?.Bonus">
              <label>Bonus</label>
              <input type="text" class="form-control" [value]="employeeData?.Bonus" readonly>
            </div>
            <div class="col-lg-2" *ngIf="employeeData?.Conveyance">
              <label>Conveyance</label>
              <input type="text" class="form-control" [value]="employeeData?.Conveyance" readonly>
            </div>
            <div class="col-lg-2" *ngIf="employeeData?.Gratuity">
              <label>Gratuity</label>
              <input type="text" class="form-control" [value]="employeeData?.Gratuity" readonly>
            </div>
            <div class="col-lg-2" *ngIf="employeeData?.HRA">
              <label>HRA</label>
              <input type="text" class="form-control" [value]="employeeData?.HRA" readonly>
            </div>
            <div class="col-lg-2" *ngIf="employeeData?.LeaveWithWages">
              <label>Leave With Wages</label>
              <input type="text" class="form-control" [value]="employeeData?.LeaveWithWages" readonly>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-2" *ngIf="employeeData?.MedicalAllowance">
              <label>Medical Allowance</label>
              <input type="text" class="form-control" [value]="employeeData?.MedicalAllowance" readonly>
            </div>
            <div class="col-lg-2" *ngIf="employeeData?.RelieverCharges">
              <label>Reliever Charges</label>
              <input type="text" class="form-control" [value]="employeeData?.RelieverCharges" readonly>
            </div>
            <div class="col-lg-2" *ngIf="employeeData?.SpecialAllowance">
              <label>Special Allowance</label>
              <input type="text" class="form-control" [value]="employeeData?.SpecialAllowance" readonly>
            </div>
            <div class="col-lg-2" *ngIf="employeeData?.WashingAllowance">
              <label>Washing Allowance</label>
              <input type="text" class="form-control" [value]="employeeData?.WashingAllowance" readonly>
            </div>
            <div class="col-lg-2" *ngIf="employeeData?.NationalFestivalHolidays">
              <label>NFS</label>
              <input type="text" class="form-control" [value]="employeeData?.NationalFestivalHolidays" readonly>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <span style="font-size: 16px; color: red; text-decoration-line: underline;">Deducted Salary Details : </span>

          <div class="row mb-3 mt-2">
            <div class="col-lg-4" *ngIf="employeeData?.ESIAmount && employeeData?.ESIBasedOn">
              <label>ESI Amount</label>
              <input type="text" class="form-control" [value]="employeeData?.ESIAmount" readonly>
            </div>
            <div class="col-lg-4" *ngIf="employeeData?.PFAmount && employeeData?.ESIBasedOn">
              <label>PF Amount</label>
              <input type="text" class="form-control" [value]="employeeData?.PFAmount" readonly>
            </div>
            <div class="col-lg-4" *ngIf="employeeData?.ProfessionalTax">
              <label>Professional Tax</label>
              <input type="text" class="form-control" [value]="employeeData?.ProfessionalTax" readonly>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card-header" id="headingOne">
      <h5 class="mb-0 text-center">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          Bank Details Of The Employee
          <p class="h6">Add/ Update Bank Details Of The Employee Here</p>
          <span *ngIf="employeeData?.IsBankDetailAdded == false" class="badge badge-danger h4">BANK DETAILS NOT
            ENTERED</span>
          <span *ngIf="employeeData?.IsBankDetailAdded == true" class="badge badge-success h4">BANK DETAILS
            ENTERED</span>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form class="form" [formGroup]="bankForm" (ngSubmit)="onSubmit()">

          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="required" for="AccountNumber">Account Number</label>
                <input type="text" class="form-control" id="AccountNumber" aria-describedby="AccountNumber"
                  placeholder="ENTER ACCOUNT NUMBER" formControlName="AccountNumber">
                <div class="text-danger"
                  *ngIf="(bankForm.controls['AccountNumber'].touched || bankForm.controls['AccountNumber'].dirty) && bankForm.controls['AccountNumber'].errors?.required">
                  Account Number is required.
                </div>
                <div class="text-danger"
                  *ngIf="(bankForm.controls['AccountNumber'].touched || bankForm.controls['AccountNumber'].dirty) && bankForm.controls['AccountNumber'].errors?.pattern">
                  Account Number is not valid.
                </div>
              </div>

              <div class="form-group">
                <label class="required" for="BankName">Bank Name</label>
                <input type="text" class="form-control" id="BankName" aria-describedby="BankName"
                  placeholder="ENTER NAME OF THE BANK" formControlName="BankName">
                <div class="text-danger"
                  *ngIf="(bankForm.controls['BankName'].touched || bankForm.controls['BankName'].dirty) && bankForm.controls['BankName'].errors?.required">
                  Bank Name is required.
                </div>
                <div class="text-danger"
                  *ngIf="(bankForm.controls['BankName'].touched || bankForm.controls['BankName'].dirty) && bankForm.controls['BankName'].errors?.pattern">
                  Bank Name is not valid.
                </div>
              </div>

            </div>

            <div class="col-lg-4">

              <div class="form-group">
                <label class="required" for="IFSC">IFSC</label>
                <input type="text" class="form-control" id="IFSC" aria-describedby="IFSC" placeholder="ENTER IFSC"
                  formControlName="IFSC">
                <div class="text-danger"
                  *ngIf="(bankForm.controls['IFSC'].touched || bankForm.controls['IFSC'].dirty) && bankForm.controls['IFSC'].errors?.required">
                  IFSC is required.
                </div>
                <div class="text-danger"
                  *ngIf="(bankForm.controls['IFSC'].touched || bankForm.controls['IFSC'].dirty) && bankForm.controls['IFSC'].errors?.pattern">
                  IFSC is not valid.
                </div>
              </div>

              <div class="form-group">
                <label class="required" for="Branch">Branch</label>
                <input type="text" class="form-control" id="Branch" aria-describedby="Branch"
                  placeholder="ENTER BRANCH NAME" formControlName="Branch">
                <div class="text-danger"
                  *ngIf="(bankForm.controls['Branch'].touched || bankForm.controls['Branch'].dirty) && bankForm.controls['Branch'].errors?.required">
                  Branch is required.
                </div>
                <div class="text-danger"
                  *ngIf="(bankForm.controls['Branch'].touched || bankForm.controls['Branch'].dirty) && bankForm.controls['Branch'].errors?.pattern">
                  Branch is not valid.
                </div>
              </div>
            </div>

            <div class="col-lg-4">

              <div class="form-group d-flex flex-column justify-content-center align-items-center bd-highlight mt-4">
                <a target="_blank" class="btn rounded view-resume-btn w-50"
                  [href]="DocUrl+employeeData?.PassbookDocument"><img src="./assets/images/view-resume-icon.svg"
                    alt="view-resume">View Bank Passbook</a>
                <button class="btn btn-danger mt-4 w-25">Submit</button>
              </div>

            </div>

          </div>

          <label style="color: blue">Please Re-Check Account Number and IFSC Before Submitting</label>
        </form>
      </div>
    </div>

    <div class="card-header" id="headingFour">
      <h5 class="mb-0 text-center">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
          aria-controls="collapseFour">
          ESI & PF Details Of The Employee
          <p class="h6">Add/ Update ESI & PF Details Of The Employee Here</p>
          <span *ngIf="employeeData?.IsESIPFAdded == false" class="badge badge-danger h4">
            ESI & PF DETAILS NOT ENTERED
          </span>
          <span *ngIf="employeeData?.IsESIPFAdded == true" class="badge badge-success h4">
            ESI & PF DETAILS ENTERED
          </span>
        </button>
      </h5>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <form class="form" [formGroup]="UANPFForm" (ngSubmit)="onSubmitESIPF()">

          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="UniversalAccount">Universal Account No.</label>
                <input type="text" class="form-control" id="UniversalAccount" aria-describedby="UniversalAccount"
                  placeholder="Enter Universal Account Number" formControlName="UniversalAccount" maxlength="12">
                <div class="text-danger"
                  *ngIf="(UANPFForm.controls['UniversalAccount'].touched || UANPFForm.controls['UniversalAccount'].dirty) && UANPFForm.controls['UniversalAccount'].errors?.pattern">
                  Universal Account Number is not valid. (ex : 01234567890)
                </div>
              </div>

              <div class="form-group">
                <label for="PFAccount">PF Account No.</label>
                <input type="text" class="form-control" id="PFAccount" aria-describedby="PFAccount"
                  placeholder="Enter PF Account Number" formControlName="PFAccount" maxlength="22">
                <div class="text-danger"
                  *ngIf="(UANPFForm.controls['PFAccount'].touched || UANPFForm.controls['PFAccount'].dirty) && UANPFForm.controls['PFAccount'].errors?.pattern">
                  PF Account Number is not valid. (ex : KAUDP12345670AB9876543 "NOTE : 0AB => these can be 0-9 || A-Z
                  only 3 inputs")
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label for="ESI">ESI</label>
                <input type="text" class="form-control" id="ESI" aria-describedby="ESI" placeholder="Enter ESI"
                  formControlName="ESI" maxlength="10">
                <div class="text-danger"
                  *ngIf="(UANPFForm.controls['ESI'].touched || UANPFForm.controls['ESI'].dirty) && UANPFForm.controls['ESI'].errors?.pattern">
                  ESI Number is not valid. (ex : 0123456789)
                </div>
              </div>

              <div class="form-group">
                <label for="SchemeCertificate">Scheme Certificate No.</label>
                <input type="text" class="form-control" id="SchemeCertificate" aria-describedby="SchemeCertificate"
                  placeholder="Enter Scheme Certificate Number" formControlName="SchemeCertificate" maxlength="12">
                <div class="text-danger"
                  *ngIf="(UANPFForm.controls['SchemeCertificate'].touched || UANPFForm.controls['SchemeCertificate'].dirty) && UANPFForm.controls['SchemeCertificate'].errors?.pattern">
                  Scheme Certificate Number is not valid. (ex : KN/MLR/31985)
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label for="PPONumber">PPO Number</label>
                <input type="text" class="form-control" id="PPONumber" aria-describedby="PPONumber"
                  placeholder="Enter PPO Number" formControlName="PPONumber" maxlength="12">
                <div class="text-danger"
                  *ngIf="(UANPFForm.controls['PPONumber'].touched || UANPFForm.controls['PPONumber'].dirty) && UANPFForm.controls['PPONumber'].errors?.pattern">
                  PPO Number is not valid. (ex : 01234567890)
                </div>
              </div>

              <div class="form-group">
                <label for="NonContributoryPeriod">Non Contributory Period</label>
                <input type="text" class="form-control" id="NonContributoryPeriod"
                  aria-describedby="NonContributoryPeriod" placeholder="Enter Non Contributory Period"
                  formControlName="NonContributoryPeriod">
                <div class="text-danger"
                  *ngIf="(UANPFForm.controls['NonContributoryPeriod'].touched || UANPFForm.controls['NonContributoryPeriod'].dirty) && UANPFForm.controls['NonContributoryPeriod'].errors?.pattern">
                  Non Contributory Period is not valid.
                </div>
              </div>
            </div>
          </div>

          <label style="color: blue">Please Re-Check Details Before Submitting</label>

          <div class="form-group d-flex flex-column justify-content-center align-items-center bd-highlight mt-4">
            <button class="btn btn-danger w-25">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            Attendence Details
            <p class="h6">View Attendence Details Of The Employee</p>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">

          <div class="row mb-3">
            <div class="col-lg-3">

              <div class="form-group m-0">
                <label class="required" for="validityFrom">Select Month</label>
              </div>

              <div style="display: -webkit-box;">

                <div class="form-group">
                  <select class="form-control" [(ngModel)]="getMonth">
                    <option value="" disabled selected style="color: red;">SELECT MONTH</option>
                    <option *ngFor="let data of Months">{{data}}</option>
                  </select>
                </div>


                <div class="form-group ml-4">
                  <select class="form-control" [(ngModel)]="getYear">
                    <option value="" disabled selected style="color: red;">SELECT YEAR</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                  </select>
                </div>

                <div class="form-group ml-4">
                  <button (click)="FetchResult()" class="btn btn-danger">FETCH RESULT</button>
                </div>

              </div>

            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="table-information">
                  <table class="w-100 info-table">
                    <tr>
                      <th>Basic Salary (₹): </th>
                      <td>{{ showSalary || '-' }}</td>
                    </tr>
                    <tr>
                      <th>Year : </th>
                      <td>{{ AttendanceData?.Year || '-' }}</td>
                    </tr>
                    <tr>
                      <th>Month :</th>
                      <td>{{ AttendanceData?.Month || '-' }}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 border-left-right">
                <div class="table-information">
                  <table class="w-100 info-table">
                    <tr>
                      <th>Total Working Days :</th>
                      <td>{{ AttendanceData?.NoOfWorkingDays || '-' }}</td>
                    </tr>
                    <tr>
                      <th>No. Of Days Worked :</th>
                      <td>{{ AttendanceData?.NoOfDaysWorked || '-' }}</td>
                    </tr>
                    <tr>
                      <th>No. Of Leave(s) Taken :</th>
                      <td>{{ AttendanceData?.NoOfLeaves || '-' }}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- <div
                  class="col-sm-12 col-md-6 col-lg-4 form-group d-flex flex-column justify-content-center align-items-center bd-highlight">
                  <button class="btn btn-primary">Download Attendence Details</button>
                  <a target="_blank" class="btn rounded view-resume-btn w-50 mt-4"
                    [href]="DocUrl+employeeData?.ResumeDocument"><img src="./assets/images/view-resume-icon.svg"
                      alt="view-resume">View Salary Slip</a>
                </div> -->
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            Feedback
            <p class="h6">View Feedbacks Given For The Employee</p>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">

          <div class="row mb-3">
            <div class="text-center col-lg-12">
              <div class="table-responsive">
                <table mat-table [dataSource]="feedbackSource" matSort>
                  <ng-container matColumnDef="Feedback Type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Feedback Type</th>
                    <td mat-cell *matCellDef="let row" style="white-space: nowrap;">{{ row.Type }}</td>
                  </ng-container>

                  <ng-container matColumnDef="Feedback/ Remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Feedback/ Remarks</th>
                    <td mat-cell *matCellDef="let row">{{ row.FeedbackRemarks }}</td>
                  </ng-container>

                  <ng-container matColumnDef="Uploaded Photo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Uploaded Photo</th>
                    <td mat-cell *matCellDef="let row"><a target="_blank" [href]="DocUrl+row.FeedbackPhoto">View</a>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Submitted On">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Submitted On</th>
                    <td mat-cell *matCellDef="let row">{{ row.createdAt | date: 'dd-MM-yyyy' }}</td>
                  </ng-container>

                  <ng-container matColumnDef="Submitted By">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Submitted By</th>
                    <td mat-cell *matCellDef="let row">{{ row.SubmittedBy }}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="feedbackColumn; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: feedbackColumn;"></tr>

                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9" style="text-align: center;">No data matching the filter</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #GMApprovalModal>
  <div style="width: 100%;">

    <div role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: #293955;">
          <h3 class="modal-title" style="margin-bottom: 0px; color: white;">Approval Status</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" style="font-size: 12px; color: white;">CLOSE</span>
          </button>
        </div>

        <form [formGroup]="ApprovalForm" style="width: 100%;">
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-6">
                <label class="label-aa" for="SalarySet"><i>Gross Salary</i></label>
                <div class="form-group" style="width: 100%;">
                  <!-- <input matInput id="SalarySet" formControlName="SalarySet" [value]="employeeData?.GrossSalary"
                    class="form-control" readonly> -->
                  <div class="form-control">{{ employeeData?.GrossSalary }}</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <label class="label-aa" for="Remarks"><i>Remarks</i></label>
                <div class="form-group" style="width: 100%;">
                  <textarea class="form-control" placeholder="Enter Remarks" formControlName="Remarks"></textarea>

                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" style="margin-right: 5px;"
              (click)="GMApprovalStatus(true)">Approve</button>
            <button type="button" class="btn btn-danger" style="margin-right: 5px;" data-dismiss="modal"
              (click)="GMApprovalStatus(false)">Reject</button>
            <button type="button" (click)="modalRef.hide()" style="margin-right: 5px;"
              class="btn btn-danger">Close</button>
          </div>

        </form>

      </div>
    </div>

  </div>
</ng-template>

<ng-template #MDApprovalModal>
  <div style="width: 100%;">

    <div role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: #293955;">
          <h3 class="modal-title" style="margin-bottom: 0px; color: white;">Approval Status</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" style="font-size: 12px; color: white;">CLOSE</span>
          </button>
        </div>

        <form [formGroup]="ApprovalForm" style="width: 100%;">
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-6">
                <label class="label-aa" for="SalarySet"><i>Gross Salary</i></label>
                <div class="form-group" style="width: 100%;">
                  <!-- <input matInput id="SalarySet" formControlName="SalarySet" [value]="employeeData?.GrossSalary"
                    class="form-control" readonly> -->
                  <div class="form-control">{{ employeeData?.GrossSalary }}</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <label class="label-aa" for="Remarks"><i>Remarks</i></label>
                <div class="form-group" style="width: 100%;">
                  <textarea class="form-control" placeholder="Enter Remarks" formControlName="Remarks"></textarea>

                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" style="margin-right: 5px;"
              (click)="MDApprovalStatus(true)">Approve</button>
            <button type="button" class="btn btn-danger" style="margin-right: 5px;" data-dismiss="modal"
              (click)="MDApprovalStatus(false)">Reject</button>
            <button type="button" (click)="modalRef.hide()" style="margin-right: 5px;"
              class="btn btn-danger">Close</button>
          </div>

        </form>

      </div>
    </div>

  </div>
</ng-template>